{% extends "BASE_GOV.html" %}
{% block content %}

<div class="col mb-5">
  <div class="br-breadcrumb">
    <ul class="crumb-list">
      <li class="crumb home"><a class="br-button circle" href="{{url_for('core.index')}}"><span class="sr-only">Página inicial</span><i class="fas fa-home"></i></a></li>
      <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="{{url_for('core.apoio_i')}}">Funções de Apoio</a></li>
      <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="{{url_for('consultas.consultas_i')}}">Consultas</a></li>
      <!-- <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior3</a></li>
      <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior4</a></li> -->
      <li class="crumb" data-active="active"><i class="icon fas fa-chevron-right"></i><span>Estatísticas</span>
      </li>
    </ul>
  </div>
</div>

<div class="container pt-3">

<div class="jumbotron">
  
  <h5 align = "center"><b>Alguns números do PGD em {{hoje.strftime('%x')}} </b> <br>
    {% if vida_pgd == vida_plano %}
      ({{vida_pgd}} meses desde o primeiro Programa de Gestão e início do primeiro Plano de Trabalho)
    {% else %}
      ({{vida_pgd}} meses desde o primeiro Programa de Gestão,
      {{vida_plano}} meses desde o início do primeiro Plano de Trabalho)
    {% endif %}  
  </h5>
  <br>

  <div class="row">

    <div class = "col-4">
      <div class="card bg-transparent border-dark">

        <div class="card-body bg-transparent" align = "center">
          <dl>
             <dt>Unidades ativas: <abbr title="Clique aqui para ver lista de unidades.">
                <a href="{{url_for('unidades.lista_unidades',lista='ativas')}}">{{qtd_unidades_ativas}}</a></abbr></dt>
              <dt>Unidades (geral): <abbr title="Clique aqui para ver lista de unidades.">
                <a href="{{url_for('unidades.lista_unidades',lista='todas')}}">{{qtd_unidades}}</a></abbr></dt>
            </dl>
        </div>    
      </div>
    </div>

    <div class = "col-4">
      <div class="card bg-transparent border-dark">

        <div class="card-body bg-transparent" align = "center">
            <dt>Pessoas: <abbr title="Clique aqui para ver a lista de pessoas.">
              <a href="{{url_for('pessoas.lista_pessoas')}}">{{qtd_pessoas}} </a></abbr></dt>
              <br>
            <dd>&nbsp;Maior grupo em uma unidade: {{qtd_pes_max}} </dd>
            <dd>&nbsp;Menor grupo em uma unidade: {{qtd_pes_min}} </dd>
            <dd>&nbsp;Média por unidade: {{qtd_pes_avg}} </dd>
          </dl>
        </div>    
      </div>
    </div>

    <div class = "col-4">
      <div class="card bg-transparent border-dark">
  
        <div class="card-body bg-transparent" align = "center">
          <dl>
          <dt>Atividades: <abbr title="Clique aqui para ver a lista das atividades válidas.">
            <a href="{{url_for('atividades.lista_atividades',lista='ativas')}}">{{qtd_ativs_validas}}</a></abbr>(válidas) 
            <abbr title="Clique aqui para ver a lista de todas as atividades.">
            <a href="{{url_for('atividades.lista_atividades',lista='inativas')}}"> {{qtd_ativs}}</a></abbr>(não válidas)</dt>
            <br>
          <dd>&nbsp;Distintas em Planos:</dd>
          <dd><abbr title="Clique aqui para ver a lista destas atividades.">
            <a href="{{url_for('atividades.lista_atividades',lista='planos_v')}}">{{ativs_utilizadas_validas}}</a></abbr> válidas 
            ({{((100 * ativs_utilizadas_validas / qtd_ativs_validas)|round)|string|replace(".",",")}})% 
            <abbr title="Clique aqui para ver a lista destas atividades.">
            <a href="{{url_for('atividades.lista_atividades',lista='planos_g')}}">{{ativs_utilizadas}}</a></abbr> geral 
            ({{((100 * ativs_utilizadas / qtd_ativs)|round)|string|replace(".",",")}})% </dd>
          <dd>&nbsp;Distintas em PGs:</dd>
          <dd><abbr title="Clique aqui para ver a lista destas atividades.">
            <a href="{{url_for('atividades.lista_atividades',lista='pgs_v')}}">{{ativs_utilizadas_pgs_validas}}</a></abbr> válidas
            ({{((100 * ativs_utilizadas_pgs_validas / qtd_ativs_validas)|round)|string|replace(".",",")}})% 
            <abbr title="Clique aqui para ver a lista destas atividades.">
            <a href="{{url_for('atividades.lista_atividades',lista='pgs_g')}}">{{ativs_utilizadas_pgs}}</a></abbr> geral 
            ({{((100 * ativs_utilizadas_pgs / qtd_ativs)|round)|string|replace(".",",")}})% </dd>
          </dl>  
        </div>    
      </div>
    </div>


  </div>  

<br>

  <div class="row"> 
      
    <div class = "col-6">

      <div class="card bg-transparent border-dark">
  
        <div class="card-header bg-transparent">
          <p align = "center"><b>Programas de Gestão</b></p>
        </div>

        <div class="card-body bg-transparent">
          <table class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th scope="col"><p align = "center">Situação</p></th>
                <th scope="col"><p align = "right">qtd</p></th>
              </tr>
            </thead>
            <tbody>
              {% for pg in programas_de_gestao %}
                <tr>
                  <td><p align = "center"> {{ pg.descricao }} </p></td>
                  <td><p align = "right"> {{ pg.qtd_pg }} </p></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="card-footer bg-transparent">
          <p align = "right">Total: {{ programas_de_gestao|sum(attribute='qtd_pg') }}</p>
        </div>
        
      </div>  
      
<br>

      <div class="row">

        <div class="col">
          <div class="card bg-transparent border-dark">
    
            <div class="card-header bg-transparent">
              <p align = "center"><b>Atividades em Programas de Gestão</b></p>
            </div>
    
            <div class="card-body bg-transparent">
              <table class="table table-striped table-hover table-sm">
                <thead>
                  <tr>
                    <th scope="col"><p align = "center">Situação</p></th>
                    <th scope="col"><p align = "right">qtd</p></th>
                  </tr>
                </thead>
                <tbody>
                  {% for a in ativs_pgs %}
                    <tr>
                      <td><p align = "center">{{ a.descricao }} </p></td>
                      <td><p align = "right"> {{ a.qtd_ativs }} </p></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
    
            <div class="card-footer bg-transparent">
            <p align = "right">Total: {{ ativs_pgs|sum(attribute='qtd_ativs') }}</p>
            </div>
    
          </div>    
        </div>


      </div>

    </div>

    <div class="col-6">
      <div class="card bg-transparent border-dark">

        <div class="card-header bg-transparent">
          <p align = "center"><b>Planos de Trabalho</b></p>
        </div>

        <div class="card-body bg-transparent">
          <table class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th scope="col"><p align = "center">Forma</p></th>
                <th scope="col"><p align = "center">Situação</p></th>
                <th scope="col"><p align = "right">qtd</p></th>
              </tr>
            </thead>
            <tbody>
              {% for pl in planos_de_trabalho_fs %}
                <tr>
                  <td><p align = "center"> {{ pl.forma }} </p></td>
                  <td><p align = "center"> {{ pl.sit }} </p></td>
                  <td><p align = "right"> {{ pl.qtd_planos }} </p></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="card-footer bg-transparent">
        <p align = "right">Total: {{ planos_de_trabalho_fs|sum(attribute='qtd_planos') }}</p>
        </div>

      </div>    
    </div>

    
  </div>  

<br>

  <div class = "row">  

    <div class="col-6">
      <div class="card bg-transparent border-dark">

        <div class="card-header bg-transparent">
          <p align = "center"><b>Atividades em Planos de Trabalho</b></p>
        </div>

        <div class="card-body bg-transparent">
          <table class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th scope="col"><p align = "center">Situação</p></th>
                <th scope="col"><p align = "right">qtd</p></th>
              </tr>
            </thead>
            <tbody>
              {% for a in ativs %}
                <tr>
                  <td><p align = "center">{{ a.descricao }} </p></td>
                  <td><p align = "right"> {{ a.qtd_ativs }} </p></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="card-footer bg-transparent">
        <p align = "right">Total: {{ ativs|sum(attribute='qtd_ativs') }}</p>
        </div>

      </div>    
    </div>

    <div class="col-6">
      <div class="card bg-transparent border-dark">

        <div class="card-header bg-transparent">
          <p align = "center"><b>Solicitações</b></p>
        </div>

        <div class="card-body bg-transparent">
          <table class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th scope="col"><p align = "center">Status</p></th>
                <th scope="col"><p align = "center">Tipo</p></th>
                <th scope="col"><p align = "right">qtd</p></th>
              </tr>
            </thead>
            <tbody>
              {% for s in solicit %}
                <tr>
                  <td><p align = "center"> 
                    {% if s.analisado and s.aprovado %}
                      Aprovadas
                    {% elif s.analisado and not s.aprovado %}
                      Rejeitadas
                    {% else %}
                      Não analisadas
                    {% endif %} </p></td>
                  <td><p align = "center">{{ s.descricao }} </p></td>
                  <td><p align = "right"> {{ s.qtd_solic }} </p></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="card-footer bg-transparent">
        <p align = "right">Total: {{ solicit|sum(attribute='qtd_solic') }}</p>
        </div>

      </div>    
    </div>

  </div>

<br>

  <div class="row small">

    <div class = "col-6">

      <div class="card bg-transparent border-dark">
  
        <div class="card-header bg-transparent">
          <p align = "center"><b>As 5 atividades mais utilizadas em Planos de Trabalho</b></p>
        </div>

          <table class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th scope="col"><p align = "center">Ocorrências</p></th>
                <th scope="col"><p align = "center">Título</p></th>
              </tr>
            </thead>
            <tbody>
              {% for a in ativs_top %}
                <tr>
                  <td><p align = "center"> {{ a.qtd_ativs }} </p></td>
                  <td><p align = "left"> <abbr title="{{ a.titulo }}"><span class="d-inline-block text-truncate" style="max-width: 380px;">{{ a.titulo }} </p></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>

    <div class = "col-3">

      <div class="card bg-transparent border-dark">
  
        <div class="card-header bg-transparent">
          <p align = "center"><b>As 5 unidades com mais Programas de Gestão</b></p>
        </div>

          <table class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th scope="col"><p align = "center">Ocorrências</p></th>
                <th scope="col"><p align = "center">Unidade</p></th>
              </tr>
            </thead>
            <tbody>
              {% for u in unids_top %}
                <tr>
                  <td><p align = "center"> {{ u.qtd_pgs }} </p></td>
                  <td><p align = "center"> <abbr title="{{ u.undSigla }}"><span class="d-inline-block text-truncate" style="max-width: 380px;">{{ u.undSigla }} </p></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>

    <div class = "col-3">

      <div class="card bg-transparent border-dark">
  
        <div class="card-header bg-transparent">
          <p align = "center"><b>As 5 unidades com mais Planos de Trabalho</b></p>
        </div>

          <table class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th scope="col"><p align = "center">Ocorrências</p></th>
                <th scope="col"><p align = "center">Unidade</p></th>
              </tr>
            </thead>
            <tbody>
              {% for u in unids_pt_top %}
                <tr>
                  <td><p align = "center"> {{ u.qtd_pts }} </p></td>
                  <td><p align = "center"> <abbr title="{{ u.undSigla }}"><span class="d-inline-block text-truncate" style="max-width: 380px;">{{ u.undSigla }}</p></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>

  </div>

</div>

</div>

{% endblock %}
