{% extends "template_gov.html" %}
{% block content %}

<div class="col mb-5">
  <div class="br-breadcrumb">
    <ul class="crumb-list">
      <li class="crumb home"><a class="br-button circle" href="{{url_for('core.inicio')}}"><span class="sr-only">Página inicial</span><i class="fa fa-home"></i></a></li>
      <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="{{url_for('core.apoio_i')}}">Funções de Apoio</a></li>
      <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="{{url_for('consultas.consultas_i')}}">Consultas</a></li>
      <!-- <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior3</a></li>
      <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior4</a></li> -->
      <li class="crumb" data-active="active"><i class="icon fa fa-chevron-right"></i><span>Relatórios de PGs e PTs</span>
      </li>
    </ul>
  </div>
</div>

<div class="container pt-3">

<div class="jumbotron">

  <div class="row"><h5>Relatório de Programas de Gestão e de Planos de Trabalho</h5></div>

  <div class = "row justify-content-end">
      <a href=/static/Rel_PG.xlsx class="br-button secondary mr-3" role="button"><i class="fa fa-tree" aria-hidden="true"></i>Gerar xlsx</a>
  </div>  

  <br>

  <div style="overflow-y:auto ; height:450px">
    <table class="table table-striped table-hover table-sm">
      <caption>PGs e PTs</caption>
      <thead>
        <tr>
          <th scope="col"><p align = "center">Sigla Completa</p></th>
          <th scope="col"><p align = "center">Nome</p></th>
          <th scope="col"><p align = "center">qtd pessoas</p></th>
          <th scope="col"><p align = "center">Início PG</p></th>
          <th scope="col"><p align = "center">Fim PG</p></th>
          <th scope="col"><p align = "center">Situação PG</p></th>
          <th scope="col"><p align = "center">Pessoa</p></th>
          <th scope="col"><p align = "center">Início PT</p></th>
          <th scope="col"><p align = "center">Fim PT</p></th>
          <th scope="col"><p align = "center">Situação PT</p></th>
          <th scope="col"><p align = "center">Forma Exec.</p></th>
        </tr>
      </thead>
      <tbody>

        {% for p in pt %}

        <tr>
          <td><p align = "center"> {{ p.undSiglaCompleta }} </p></td>
          <td><p align = "center"> {{ p.undDescricao }} </p></td>
          <td><p align = "center"> {{ p.totalServidoresSetor }} </p></td>
          <td><p align = "center"> {% if p.dataInicio == None %} {% else %} {{ p.dataInicio.strftime('%d/%m/%Y') }} {% endif %}  </p></td>
          <td><p align = "center"> {% if p.dataFim == None %} {% else %} {{ p.dataFim.strftime('%d/%m/%Y') }} {% endif %} </p></td>
          <td><p align = "center"> {{ p.descricao }} </p></td>
          <td><p align = "center"> {% if p.pesNome == None %} {% else %} {{ p.pesNome }} {% endif %} </p></td>
          <td><p align = "center"> {% if p.pactoIni == None %} {% else %} {{ p.pactoIni.strftime('%d/%m/%Y') }} {% endif %} </p></td>
          <td><p align = "center"> {% if p.pactoFim == None %} {% else %} {{ p.pactoFim.strftime('%d/%m/%Y') }} {% endif %} </p></td>
          <td><p align = "center"> {% if p.pactoDesc == None %} {% else %} {{ p.pactoDesc }} {% endif %} </p></td>
          <td><p align = "center"> {% if p.formaExec == None %} {% else %} {{ p.formaExec }} {% endif %} </p></td>
        </tr>

        {% endfor %}

      </tbody>
    </table>

  </div>

</div>
</div>

{% endblock %}
