{% extends "base.html" %}
{% block content %}

<div class="container">

<div class="jumbotron">
  
  <h5>Lista de Pactos</h5>

<caption>
  <div class="row">
      <div class="col">
        <p><span class="badge badge-pill badge-success">{{qtd_itens}}</span> Pactos
        </p>
      </div>
  </div>
</caption>

<div style="overflow-y:auto ; height:450px">
  <table class="table table-striped table-hover table-sm">
    <caption>Pactos de Trabalho</caption>
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col"><p align = "center">Unidade</p></th>
        <th scope="col"><p align = "center">Pessoa</p></th>
        <th scope="col"><p align = "center">Início</p></th>
        <th scope="col"><p align = "center">Fim</p></th>
        <th scope="col"><p align = "center">Forma</p></th>
        <th scope="col"><p align = "center">Situação</p></th>
        <th scope="col"><p align = "center">% exec.</p></th>
        <th scope="col"><abbr title="Dentre as atividades concluídas no pacto, este valor é a relação entre as somas dos tempos previstos e dos tempos executados multiplicada por 100. Abaixo de 100, gastou-se mais tempo do que o previsto. Acima de 100, menos do que o previsto.">
          <p align = "center">Prev./Exec.</p></abbr>
        </th>
        <th scope="col"><p align = "center">Avaliação</p></th>
      </tr>
    </thead>
    <tbody>

      {% for p in pactos_trabalho %}

      <tr>
        <th scope="row"><abbr title="Ver atividades deste pacto.">
          <p align = "center"> <a href="{{url_for('consultas.pacto_atividades', pactoId=p.pactoTrabalhoId, nome=p.pesNome)}}">{{pactos_trabalho.index(p) + 1}}</a></p>
        </th>
        <td><p align = "center"> {{ p.undSigla }} </p></td>
        <td><p align = "center"> {{ p.pesNome }} </p></td>
        <td><p align = "center"> {{ p.dataInicio.strftime('%x') }} </p></td>
        <td><p align = "center"> {{ p.dataFim.strftime('%x') }} </p></td>
        <td><p align = "center"> 
          {% if p.descricao1 == 'Teletrabalho Parcial' %}  
            <span class="text-warning">{{ p.descricao1 }} </span>
          {% else %}  
            {{ p.descricao1 }}
          {% endif %} 
        </p></td>
        <td><p align = "center"> 
          {% if p.descricao2 == 'Em execução' %}  
            <span class="text-primary">{{ p.descricao2 }} </span>
          {% else %}  
            {{ p.descricao2 }}
          {% endif %}
        </p></td>
        <td><p align = "center"> {% if p.percentualExecucao == None %}N.I.{% else %}{{(p.percentualExecucao)|decimal_com_virgula }}{% endif %} </p></td>
        <td><p align = "center"> {% if p.relacaoPrevistoRealizado == None%}N.I.{% else %}{{(p.relacaoPrevistoRealizado)|decimal_com_virgula}}{% endif %} </p></td>
        <td><p align = "center"> {% if p.avaliacaoId == None %}N.I.{% else %}p.avaliacaoId{% endif %} </p></td>
      </tr>

      {% endfor %}

    </tbody>
  </table>

</div>

</div>

</div>
{% endblock %}
