{% extends "BASE_GOV.html" %}
{% block content %}

<div class="col mb-5">
  <div class="br-breadcrumb">
    <ul class="crumb-list">
      <li class="crumb home"><a class="br-button circle" href="{{url_for('core.index')}}"><span class="sr-only">Página inicial</span><i class="fas fa-home"></i></a></li>
      <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="{{url_for('core.apoio_i')}}">Funções de Apoio</a></li>
      <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="{{url_for('consultas.consultas_i')}}">Consultas</a></li>
      <!-- <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior3</a></li>
      <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior4</a></li> -->
      <li class="crumb" data-active="active"><i class="icon fas fa-chevron-right"></i><span>Pessoas em PG por unidade</span>
      </li>
    </ul>
  </div>
</div>

<div class="container">

<div class="jumbotron">
  
  <h5>Lista das quantidades de pessoas no programa de gestão por unidade</h5>

<caption>
  <div class="row">
      <div class="col">
        <p><span class="badge badge-pill badge-success">{{qtd_unidades}}</span> unidade(s) na instituição,
           com <span class="badge badge-pill badge-success">{{qtd_pessoas}}</span> pessoa(s) cadastradas no SISGP.</p>
        <p>Nesta lista: <span class="badge badge-pill badge-primary">{{qtd_pt_unidade}}</span> unidade(s).
                        <span class="badge badge-pill badge-primary">{{qtd_pactos_unidade}}</span> PTs em execução.</p>
      </div>
  </div>
</caption>

<div style="overflow-y:auto ; height:450px">

  <table id="table"
        data-toggle="table"
        data-filter-control="true"
        data-show-search-clear-button="true"
        data-sortable="true"
        classes="table-sm"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        class="table table-striped table-hover table-sm">
    <caption>Unidades com pessoas em PG</caption>
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col" data-field="unidadeId" data-filter-control="input" data-sortable="true"><p align = "center">Sigla</p></th>
        <th scope="col" data-field="undDescricao" data-filter-control="input" data-sortable="true"><p align = "center">Nome</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Programas de Gestão</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Pessoas</p></th>
        <th scope="col" data-sortable="true"><p align = "center">PTs em execução</p></th>
      </tr>
    </thead>

    <tbody>
      {% for u in pt %}
      <tr>
        <th scope="row"><p align = "center"> {{pt.index(u) + 1}} </p></th>
        <td><p align = "center"> {{ tree[u.unidadeId] }} </p></td>
        <td><p align = "center"> {{ u.undDescricao }} </p></td>
        <td><p align = "center" class = "font-weight-bold">
          <abbr title="Clique aqui para ver dados dos programas de gestão da unidade.">

        {% if u.qtd_pg > 0 %}  
        
          <a href="#" data-toggle='modal' data-target='#pt_modal{{u.unidadeId}}'>{{ u.qtd_pg }}</a></abbr>
            
            {# modal visualização de programas de gestão da unidade #}

            <div class="modal fade" tabindex="-1" role="dialog" id="pt_modal{{u.unidadeId}}">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Programas de Gestão ({{ u.undSigla }})</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    
                    <table class="table table-hover table-sm">
                      <thead>
                        <tr>
                          <th scope="col"><p align = "center">Início</p></th>
                          <th scope="col"><p align = "center">Fim</p></th>
                          <th scope="col"><p align = "center">Situação</p></th>
                          <th scope="col"><p align = "center">Pessoas no setor</p></th>
                        </tr>
                      </thead>
            
                      <tbody>
                        {% for d in dados_pt %}
                          {% if d.unidadeId == u.unidadeId %}
                            <tr>
                              <td><p align = "center"> {{ d.dataInicio.strftime('%x') }} </p></td>
                              <td><p align = "center"> {{ d.dataFim.strftime('%x') }} </p></td>
                              <td><p align = "center"> {{ d.descricao }} </p></td>
                              <td><p align = "center"> {{ d.totalServidoresSetor }} </p></td>
                              {% if d.descricao == "Rascunho"%}
                              <td>
                                <p align = "center">
                                  {% if current_user.is_authenticated %}
                                    <abbr title="ATENÇÃO!! AO CLICAR NESTE BOTÃO, O PG SERÁ EXCLUÍDO!">

                                    <button type="button" class="btn btn-danger" data-toggle='modal' data-target='#del_modal{{dados_pt.index(d) + 1}}'>X</button>

                                    {# modal para deleção de pg #}

                                    <div class="modal" tabindex="-1" role="dialog" id="del_modal{{dados_pt.index(d) + 1}}">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <div class="p-3 mb-2 bg-danger text-white">
                                            <h5 class="modal-title">Deletar Programa de Gestão?</h5>
                                            </div>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            <p>Deseja realmente deletar este Programa de Gestão?</p>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

                                            <form action="{{url_for('consultas.deleta_pg',pgId=d.planoTrabalhoId)}}" method="post">
                                              <input class="btn btn-danger" type="submit" name="" value="Excluir">
                                            </form>

                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  {% endif %}  


                                </p>
                              </td>
                              {% endif %}
                            </tr>
                          {% endif %}  
                        {% endfor %}
                      </tbody>
            
                    </table>

                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>

            {% else %}
              {{ u.qtd_pg }}
            {% endif %}

          </p></td>
          <td><p align = "center" class = "font-weight-bold"><abbr title="Clique aqui para ver as pessoas da unidade.">
            <a href="{{url_for('pessoas.lista_pessoas_unid', unid=u.undSigla)}}">
            {% if u.qtd_pes == None or u.qtd_pes == '' %}<span class="text-danger">0</span>
            {% else %} {{ u.qtd_pes }} {% endif %}</a></abbr></p></td>

        <td><p align = "center" class = "font-weight-bold">
          
          {% if u.qtd_pactos == None %}0
          {% else %}
          
            <abbr title="Clique aqui para ver dados dos pactos (Em Execução) da unidade.">

            <a href="#" data-toggle='modal' data-target='#pac_modal{{u.unidadeId}}'>{{ u.qtd_pactos }}</a></abbr>
              
              {# modal visualização de pactos de uma unidade #}

              <div class="modal fade" tabindex="-1" role="dialog" id="pac_modal{{u.unidadeId}}">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Pactos na unidade {{ u.undSigla }}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      
                      <table class="table table-hover table-sm">
                        <thead>
                          <tr>
                            <th scope="col"><p align = "center">Nome</p></th>
                            <th scope="col"><p align = "center">Início</p></th>
                            <th scope="col"><p align = "center">Fim</p></th>
                          </tr>
                        </thead>
              
                        <tbody>
                          {% for p in dados_pessoa_pacto %}
                            {% if p.unidadeId == u.unidadeId %}
                              <tr>
                                <td><p align = "center"><a href="{{url_for('pessoas.pessoa_update', cod_pes=p.pessoaId)}}"> {{ p.pesNome }} </a></p></td>
                                <td><p align = "center"> {{ p.dataInicio.strftime('%x') }} </p></td>
                                <td><p align = "center"> {{ p.dataFim.strftime('%x') }} </p></td>
                              </tr>
                            {% endif %}  
                          {% endfor %}
                        </tbody>
              
                      </table>

                    </div>
                    <div class="modal-footer">
                    </div>
                  </div>
                </div>
              </div>

          {% endif %} 
        </p></td>
      </tr>

      {% endfor %}

    </tbody>
  </table>

</div>

</div>

</div>
{% endblock %}
