{% extends "template_gov.html" %}
{% block content %}

<div class="col mb-5">
  <div class="br-breadcrumb">
    <ul class="crumb-list">
      <li class="crumb home"><a class="br-button circle" href="{{url_for('core.index')}}"><span class="sr-only">Página inicial</span><i class="fas fa-home"></i></a></li>
      <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="{{url_for('core.apoio_i')}}">Funções de Apoio</a></li>
      <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="{{url_for('consultas.consultas_i')}}">Consultas</a></li>
      <!-- <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior3</a></li>
      <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior4</a></li> -->
      <li class="crumb" data-active="active"><i class="icon fas fa-chevron-right"></i><span>Planos de Trabalho</span>
      </li>
    </ul>
  </div>
</div>

<div class="container">

<div class="jumbotron">
  
  <h5>Lista de Planos de Trabalho - Unidades Ativas - 
    {% if tipo == 'todos' %}
      Todos
    {% elif tipo == 'irregulares' %}
      PTs EM SITUAÇÃO IRREGULAR
    {% endif %}
  </h5>

<caption>
  <div class="row">
      <div class="col">
        <p><span class="badge badge-pill badge-success">{{qtd_itens}}</span> PTs
        </p>
      </div>
  </div>
</caption>

<div style="overflow-y:auto ; height:450px">
  <table id="table"
        data-toggle="table"
        data-filter-control="true"
        data-show-search-clear-button="true"
        data-sortable="true"
        classes="table-sm"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        class="table table-striped table-hover table-sm">
    <caption>Pactos de Trabalho</caption>
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col" data-field="undSigla" data-filter-control="input" data-sortable="true"><p align = "center">Unidade</p></th>
        <th scope="col" data-field="pesNome" data-filter-control="input" data-sortable="true"><p align = "center">Pessoa</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Início</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Fim</p></th>
        <th scope="col" data-field="descricao1" data-filter-control="input" data-sortable="true"><p align = "center">Forma</p></th>
        <th scope="col" data-field="descricao2" data-filter-control="input" data-sortable="true"><p align = "center">Situação</p></th>
        <th scope="col" data-sortable="true"><p align = "center">% exec.</p></th>
        <th scope="col" data-sortable="true"><abbr title="Dentre as atividades concluídas no pacto, este valor é a relação entre as somas dos tempos previstos e dos tempos executados multiplicada por 100. Abaixo de 100, gastou-se mais tempo do que o previsto. Acima de 100, menos do que o previsto.">
          <p align = "center">Prev./Exec.</p></abbr>
        </th>
        <th scope="col" data-sortable="true"><p align = "center">Avaliação</p></th>
      </tr>
    </thead>
    <tbody>

      {% for p in pactos_trabalho %}

      <tr>
        <th scope="row"><abbr title="Ver atividades deste pacto.">
          <p align = "center"> <a href="{{url_for('consultas.pacto_atividades', pactoId=p.pactoTrabalhoId, nome=p.pesNome)}}">{{pactos_trabalho.index(p) + 1}}</a></p>
        </th>
        <td><p align = "center"> {{ p.undSiglaCompleta }} </p></td>
        <td><p align = "center"> {{ p.pesNome }} </p></td>
        <td><p align = "center"> {{ p.dataInicio.strftime('%x') }} </p></td>
        <td><p align = "center"> {{ p.dataFim.strftime('%x') }} </p></td>
        <td><p align = "center"> 
          {% if p.descricao1 == 'Teletrabalho Parcial' %}  
            <span class="text-warning">{{ p.descricao1 }} </span>
          {% else %}  
            {{ p.descricao1 }}
          {% endif %} 
        </p></td>
        <td><p align = "center"> 
          {% if p.descricao2 == 'Em execução' %}  
            <span class="text-primary">{{ p.descricao2 }} </span>
          {% else %}  
            {{ p.descricao2 }}
          {% endif %}
        </p></td>
        <td><p align = "center"> {% if p.percentualExecucao == None %}N.I.{% else %}{{(p.percentualExecucao)|decimal_com_virgula }}{% endif %} </p></td>
        <td><p align = "center"> {% if p.relacaoPrevistoRealizado == None%}N.I.{% else %}{{(p.relacaoPrevistoRealizado)|decimal_com_virgula}}{% endif %} </p></td>
        <td><p align = "center"> {% if p.avaliacaoId == None %}N.I.{% else %}p.avaliacaoId{% endif %} </p></td>
      </tr>

      {% endfor %}

    </tbody>
  </table>

</div>

</div>

</div>
{% endblock %}
