{% extends "template_gov.html" %}
{% block content %}

<div class="col mb-5">
  <div class="br-breadcrumb">
    <ul class="crumb-list">
      <li class="crumb home"><a class="br-button circle" href="{{url_for('core.inicio')}}"><span class="sr-only">Página inicial</span><i class="fa fa-home"></i></a></li>
      <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="{{url_for('core.apoio_i')}}">Funções de Apoio</a></li>
      <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="{{url_for('consultas.consultas_i')}}">Consultas</a></li>
      <!-- <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior3</a></li>
      <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior4</a></li> -->
      <li class="crumb" data-active="active"><i class="icon fa fa-chevron-right"></i><span>Catálogo de Domínio</span>
      </li>
    </ul>
  </div>
</div>

<div class="container">

<div class="jumbotron">
  
  <h5>Lista o Catálogo de Domínios</h5>

<caption>
  <div class="row">
      <div class="col">
        <p><span class="badge badge-pill badge-success">{{qtd_itens}}</span> itens no Catálogo.
        </p>
      </div>
  </div>
</caption>

<div style="overflow-y:auto ; height:450px">
  <table  id="table"
        data-toggle="table"
        data-filter-control="true"
        data-show-search-clear-button="true"
        data-sortable="true"
        classes="table-sm"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        class="table table-striped table-hover table-sm">
    <caption>Catálogo de Domínios</caption>
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Cód.</p></th>
        <th scope="col" data-field="classificacao" data-filter-control="input" data-sortable="true"><p align = "center">Classificação</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Descrição</p></th>
        <th scope="col" data-field="ativo" data-filter-control="input" data-sortable="true"><p align = "center">Ativo?</p></th>
      </tr>
    </thead>
    <tbody>

      {% for c in cat %}

      <tr>
        <th scope="row"><p align = "center"> {{cat.index(c) + 1}} </p></th>
        <td><p align = "center"> {{ c.catalogoDominioId }} </p></td>
        <td><p align = "center"> {{ c.classificacao }} </p></td>
        <td><p align = "center"> {{ c.descricao }} </p></td>
        <td><p align = "center"> {% if c.ativo == 1 %}Sim{% else %}Não{% endif %} </p></td>
      </tr>

      {% endfor %}

    </tbody>
  </table>

</div>

</div>

</div>
{% endblock %}
