{% extends "template_gov.html" %}
{% block content %}

<div class="col mb-5">
  <div class="br-breadcrumb">
    <ul class="crumb-list">
      <li class="crumb home"><a class="br-button circle" href="{{url_for('core.inicio')}}"><span class="sr-only">Página inicial</span><i class="fa fa-home"></i></a></li>
      <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="{{url_for('core.apoio_i')}}">Funções de Apoio</a></li>
      <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="{{url_for('consultas.consultas_i')}}">Consultas</a></li>
      <!-- <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior3</a></li>
      <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior4</a></li> -->
      <li class="crumb" data-active="active"><i class="icon fa fa-chevron-right"></i><span>PGs e PTs por período</span>
      </li>
    </ul>
  </div>
</div>

<div class="container pt-3">

<div class="jumbotron">

<h5 align = "center"><b>Quantidades de Programas de Gestão e Planos de Trabalhos por período</b></h5>
<br><br>

{% macro render_field(field,obr) %}
  {% if obr == True %}
    <dt>{{ field.label(class="form-control-label") }}<span class="text-danger font-weight-bold">*</span>
  {% else %}
    <dt>{{ field.label(class="form-control-label") }}
  {% endif %}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li><span class="text-danger font-weight-bold">{{ error }}</span></li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

<div class="row">

  <div class="col small">
    <form class="form-group" method='POST'>
      {{ form.hidden_tag() }}
        <div class="form-group row align-items-center">
          <div class="col"></div>
          <div class="form-group col-3">
            {{ render_field(form.data_ini,class="form-control",placeholder="dd/mm/aaaa",obr=False) }}
          </div>
          <div class="form-group col-3">
            {{ render_field(form.data_fim,class="form-control",placeholder="dd/mm/aaaa",obr=False) }}
          </div>
          <div class="form-group col-2">
            {{ form.submit(class="br-button secondary mr-3") }}
          </div>
          <div class="col"></div>
        </div>
    </form>    
  </div>

</div>

{% if form.data_ini.data != None and form.data_fim.data != None %}

<h6 align = "center"><b>Com vigência compreendida no período informado</b></h6>

<div class="row">
  <div class="col-2"></div>
  <div class="col-9" align = "center">
    <span class = "small">----------------------------------|Data inicial|--------------------------------|Data final|----------------------> linha do tempo</span>
  </div>
  <div class="col-1"></div>
</div>
<div class="row">
  <div class="col-2" align = "right"><span class = "small">Exemplo:</span></div>
  <div class="col-9" align = "center">
    <span class = "small">i******************f</span>
  </div>
  <div class="col-1"></div>
</div>
<br>

<div class="row">

  <div class="col-6">
    <div class="card bg-transparent border-dark">

      <div class="card-header bg-transparent">
        <p align = "center"><b>Programas de Gestão</b></p>
      </div>

      <div class="card-body bg-transparent">
        <table class="table table-striped table-hover table-sm">
          <thead>
            <tr>
              <th scope="col"><p align = "center">Situação</p></th>
              <th scope="col"><p align = "right">qtd</p></th>
            </tr>
          </thead>
          <tbody>
            {% for pg in programas_de_gestao_d %}
              <tr>
                <td><p align = "center"> {{ pg.descricao }} </p></td>
                <td><p align = "right"> {{ pg.qtd_pg }} </p></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>

      <div class="card-footer bg-transparent">
        <p align = "right">Total: {{ programas_de_gestao_d|sum(attribute='qtd_pg') }}</p>
      </div>
      
    </div>    
  </div>

  <div class="col-6">
    <div class="card bg-transparent border-dark">

      <div class="card-header bg-transparent">
        <p align = "center"><b>Planos de Trabalho</b></p>
      </div>

      <div class="card-body bg-transparent">
        <table class="table table-striped table-hover table-sm">
          <thead>
            <tr>
              <th scope="col"><p align = "center">Forma</p></th>
              <th scope="col"><p align = "center">Situação</p></th>
              <th scope="col"><p align = "right">qtd</p></th>
            </tr>
          </thead>
          <tbody>
            {% for pl in planos_de_trabalho_d %}
              <tr>
                <td><p align = "center"> {{ pl.forma }} </p></td>
                <td><p align = "center"> {{ pl.sit }} </p></td>  
                <td><p align = "right"> {{ pl.qtd_planos }} </p></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="card-footer bg-transparent">
      <p align = "right">Total: {{ planos_de_trabalho_d|sum(attribute='qtd_planos') }}</p>
      </div>

    </div>    
  </div>

</div>

<br>

  <h6 align = "center"><b>Vigentes no período informado</b></h6>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-9" align = "center">
      <span class = "small">----------------------------------|Data inicial|--------------------------------|Data final|----------------------> linha do tempo</span>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-2" align = "right"><span class = "small">Exemplos:</span></div>
    <div class="col-5" align = "center">
      <span class = "small">i*************************************f</span>
    </div>
    <div class="col-4" align = "left">
      <span class = "small">i***************************f</span>
    </div>
    <div class="col-1"></div>
  </div>
<br>

  <div class="row">

    <div class="col-6">
      <div class="card bg-transparent border-dark">

        <div class="card-header bg-transparent">
          <p align = "center"><b>Programas de Gestão</b></p>
        </div>

        <div class="card-body bg-transparent">
          <table class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th scope="col"><p align = "center">Situação</p></th>
                <th scope="col"><p align = "right">qtd</p></th>
              </tr>
            </thead>
            <tbody>
              {% for pg in programas_de_gestao_v %}
                <tr>
                  <td><p align = "center"> {{ pg.descricao }} </p></td>
                  <td><p align = "right"> {{ pg.qtd_pg }} </p></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>

        <div class="card-footer bg-transparent">
          <p align = "right">Total: {{ programas_de_gestao_v|sum(attribute='qtd_pg') }}</p>
        </div>
        
      </div>    
    </div>

    <div class="col-6">
      <div class="card bg-transparent border-dark">

        <div class="card-header bg-transparent">
          <p align = "center"><b>Planos de Trabalho</b></p>
        </div>

        <div class="card-body bg-transparent">
          <table class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th scope="col"><p align = "center">Forma</p></th>
                <th scope="col"><p align = "center">Situação</p></th>
                <th scope="col"><p align = "right">qtd</p></th>
              </tr>
            </thead>
            <tbody>
              {% for pl in planos_de_trabalho_v %}
                <tr>
                  <td><p align = "center"> {{ pl.forma }} </p></td>
                  <td><p align = "center"> {{ pl.sit }} </p></td>  
                  <td><p align = "right"> {{ pl.qtd_planos }} </p></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="card-footer bg-transparent">
        <p align = "right">Total: {{ planos_de_trabalho_v|sum(attribute='qtd_planos') }}</p>
        </div>

      </div>    
    </div>

  </div>  

<br>

  <h6 align = "center"><b>Com vigência fora do período informado</b></h6>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-9" align = "center">
      <span class = "small">----------------------------------|Data inicial|--------------------------------|Data final|----------------------> linha do tempo</span>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-2" align = "right"><span class = "small">Exemplos:</span></div>
    <div class="col-3" align = "center">
      <span class = "small">i**********f</span>
    </div>
    <div class="col-3" align = "center">
      <span class = "small"></span>
    </div>
    <div class="col-3" align = "left">
      <span class = "small">i*****f</span>
    </div>
    <div class="col-1"></div>
  </div>
<br>

  <div class="row">

    <div class="col-6">
      <div class="card bg-transparent border-dark">

        <div class="card-header bg-transparent">
          <p align = "center"><b>Programas de Gestão</b></p>
        </div>

        <div class="card-body bg-transparent">
          <table class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th scope="col"><p align = "center">Situação</p></th>
                <th scope="col"><p align = "right">qtd</p></th>
              </tr>
            </thead>
            <tbody>
              {% for pg in programas_de_gestao_f %}
                <tr>
                  <td><p align = "center"> {{ pg.descricao }} </p></td>
                  <td><p align = "right"> {{ pg.qtd_pg }} </p></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>

        <div class="card-footer bg-transparent">
          <p align = "right">Total: {{ programas_de_gestao_f|sum(attribute='qtd_pg') }}</p>
        </div>
        
      </div>    
    </div>

    <div class="col-6">
      <div class="card bg-transparent border-dark">

        <div class="card-header bg-transparent">
          <p align = "center"><b>Planos de Trabalho</b></p>
        </div>

        <div class="card-body bg-transparent">
          <table class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th scope="col"><p align = "center">Forma</p></th>
                <th scope="col"><p align = "center">Situação</p></th>
                <th scope="col"><p align = "right">qtd</p></th>
              </tr>
            </thead>
            <tbody>
              {% for pl in planos_de_trabalho_f %}
                <tr>
                  <td><p align = "center"> {{ pl.forma }} </p></td>
                  <td><p align = "center"> {{ pl.sit }} </p></td>  
                  <td><p align = "right"> {{ pl.qtd_planos }} </p></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="card-footer bg-transparent">
        <p align = "right">Total: {{ planos_de_trabalho_f|sum(attribute='qtd_planos') }}</p>
        </div>

      </div>    
    </div>

  </div>


{% endif %}

</div>
</div>
{% endblock %}
