{% extends "template_gov.html" %}
{% block content %}

<div class="template-erro">
  <div class="row my-5">
      <div class="col imagem-erro">
          <img
              src="/static/403.jpg"
              alt="imagem de erro"
          />
      </div>
      <div class="col erro-text">
          <div class="text-support-03">
              <p class="text-up-06 text-semi-bold my-3">
                  Estamos constrangidos em te ver por aqui
              </p>
          </div>
          <div class="text-secondary-06">
              <p class="text-up-03 text-medium my-3">
                ERRO 403 - ACESSO NEGADO!
              </p>
          </div>
          <p class="my-3">
            OU você não tem os privilégios necessários para esta ação
            <br>
            OU seu usuário precisa ser ativado pelo Admin
            <br>
            OU as credenciais de envio são inválidas.
          </p>
      </div>
  </div>

{% endblock %}
