{% extends "base.html" %}
{% block content %}
<div class="container">

    <div align = 'center'>
      <h2>{{current_user.username}} - {{current_user.coord}}</h2>
      <br>
      <!--<img align = 'center' src="{{url_for('static',filename='profile_pics/' + current_user.profile_image)}}">-->
    </div>

  <div class="row">

    <div class="col-sm">
      <div class="card border-info mb-4">
      <div class="card bg-light mb-3">
        <div class="card-header"><div class="text-info">Dados</div></div>
        <div class="card-body">

          {% macro render_field(field,obr) %}
            {% if obr == True %}
              <dt>{{ field.label(class="form-control-label") }}<span class="text-danger font-weight-bold">*</span>
            {% else %}
              <dt>{{ field.label(class="form-control-label") }}
            {% endif %}
            <dd>{{ field(**kwargs)|safe }}
            {% if field.errors %}
              <ul class=errors>
              {% for error in field.errors %}
                <li><span class="text-danger font-weight-bold">{{ error }}</span></li>
              {% endfor %}
              </ul>
            {% endif %}
            </dd>
          {% endmacro %}

          <form method="POST" action="" enctype="multipart/form-data">

            {{form.hidden_tag()}}

            <div class="form-group">
              {{render_field(form.username,class="form-control",obr=True)}}
            </div>

            <div class="form-group">
              {{render_field(form.email,class="form-control",obr=True)}}
            </div>

            {{form.submit(class="btn btn-primary")}}

          </form>
<p></p>
          <h4>Atenção! Caso queira alterar sua senha, faça isto no momento da entrada no sistema.</h4>

        </div>

        <div class="card-footer text-center">
          <a href="{{url_for('users.user_pt',user_id=current_user.id)}}" class="btn btn-primary">Veja seu plano de trabalho</a>
        </div>

        <div class="card-footer text-center">
          <a href="{{url_for('users.user_posts',username=current_user.username,filtro='*')}}" class="btn btn-success">Veja suas demandas</a>
        </div>

        {% if current_user.despacha or current_user.despacha0 %}
          <div class="card-footer text-center">
            <a href="{{url_for('demandas.list_pesquisa',pesq=';;;Não;Todos;;;;;'+current_user.coord+';Todos')}}" class="btn btn-warning">Veja demandas que aguardam despacho</a>
          </div>
        {% endif %}

        {% if current_user.despacha2 %}
          <div class="card-footer text-center">
            <a href="{{url_for('demandas.list_pesquisa',pesq=';;;Todos;Todos;;;;;;Não')}}" class="btn btn-info">Veja demandas que aguardam despacho CG</a>
          </div>
        {% endif %}

    </div>
    </div>
  </div>

  <div class="col-sm">
    <div class="card border-success mb-4">
    <div class="card bg-light mb-3">
    <div class="card-header"><div class="text-success">Estatísticas</div></div>
      <div class="card-body">
        <p>Registrado em: {{ current_user.registered_on.strftime('%x') }} -
        {% if current_user.last_logged_in != None %}
          Ultimo acesso: {{ current_user.last_logged_in.strftime('%c') }}
        {% else %}
          Primeiro acesso. Bem Vindo!
        {% endif %}
        </p>
        <div class="list-group">
          <p><ins>Demandas</ins></p>
          <p>Registradas: <b>{{qtd_demandas}}</b> -
             Concluídas: <b>{{qtd_demandas_conclu}} ({{percent_conclu}} %)</b> -
             Vida média: <b>{{vida_m}} dias</b></p>
          <p>Prazo médio dos despachos em suas demandas: <b>{{desp_m}} dias</b></p>
          <p></p>
          <p><ins>Últimos 12 meses</ins></p>
          <p>Demandas (quantidades)</p>
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th scope="col"><p align = "center">Média mensal</p></th>
                <th scope="col"><p align = "center">Maior qtd.</p></th>
                <th scope="col"><p align = "center">Menor qtd.</p></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><p align = "center"> {{med_dm}} </p></td>
                <td><p align = "center"> {{max_dm}} em {{mes_max_dm[0]}}/{{mes_max_dm[1]}}</p></td>
                <td><p align = "center"> {{min_dm}} em {{mes_min_dm[0]}}/{{mes_min_dm[1]}}</p></td>
              </tr>
            </tbody>
          </table>

          <p>Providências (quantidades)</p>
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th scope="col"><p align = "center">Média mensal</p></th>
                <th scope="col"><p align = "center">Maior qtd.</p></th>
                <th scope="col"><p align = "center">Menor qtd.</p></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><p align = "center"> {{med_pr}} </p></td>
                <td><p align = "center"> {{max_pr}} em {{mes_max_pr[0]}}/{{mes_max_pr[1]}}</p></td>
                <td><p align = "center"> {{min_pr}} em {{mes_min_pr[0]}}/{{mes_min_pr[1]}}</p></td>
              </tr>
            </tbody>
          </table>

          <p>Horas dedicadas (<span class="text-primary">Esta semana: {{horas}}</span>)</p>
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th scope="col"><p align = "center">Média mensal</p></th>
                <th scope="col"><p align = "center">Maior qtd.</p></th>
                <th scope="col"><p align = "center">Menor qtd.</p></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><p align = "center"> {{med_hd}} </p></td>
                <td><p align = "center"> {{max_hd}} em {{mes_max_hd[0]}}/{{mes_max_hd[1]}}</p></td>
                <td><p align = "center"> {{min_hd}} em {{mes_min_hd[0]}}/{{mes_min_hd[1]}}</p></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
  </div>

</div>
{% endblock %}
