{% extends "base.html" %}
{% block content %}
<div class="container">

  <div class="admin-view-users">
    <div class="page-header">
      <h2>Lista dos usuários</h2>
    </div>

    <div class="row">
      <table class="table table-striped" id="admin_list_of_users">
        <thead>
          <tr>
            <th>ID</th>
            <th>Usuário</th>
            <th>E-mail</th>
            <th align="center">Coord.</th>
            <th align="center">Papel</th>
            <th align="center">Data reg.</th>
            <th align="center">E-mail conf.?</th>
            <th align="center">E-mail conf. em</th>
            <th align="center">Último login</th>
            <th align="center">Ativo?</th>
            </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <td> <a href="{{url_for('users.admin_update_user', user_id=user.id)}}"><abbr title="Clique aqui atualizar">{{ user.id }} </td>
              {% if user.despacha == True %}
                <td> <span class="text-success">{{user.username }}</span> </td>
              {% elif user.despacha2 == True%}
                <td> <span class="text-danger">{{user.username }}</span> </td>
              {% else %}
                <td> {{user.username }} </td>
              {% endif %}
              <td> {{ user.email }} </td>
              <td> {{ user.coord }} </td>
              <td align="center"> {{ user.role }} </td>
              <td align="center"> {% if user.registered_on != None %} {{user.registered_on.strftime('%x')}} {% endif %} </td>
              <td align="center"> {% if user.email_confirmed == True %} Sim {% else %} Não {% endif %} </td>
              <td align="center"> {% if user.email_confirmed_on != None %} {{user.email_confirmed_on.strftime('%x')}} {% endif %}</td>
              <td align="center"> {% if user.current_logged_in != None %} {{user.current_logged_in.strftime('%c')}} {% endif %}</td>
              <td align="center"> {% if user.ativo == True %} Sim {% else %} Não {% endif %} </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock %}
