{% extends "template_gov.html" %}
{% block content %}

  <div class="col mb-5">
    <div class="br-breadcrumb">
      <ul class="crumb-list">
        <li class="crumb home"><a class="br-button circle" href="{{url_for('core.index')}}"><span class="sr-only">Página inicial</span><i class="fas fa-home"></i></a></li>
        <!-- <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior</a></li>
        <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior2</a></li>
        <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior3</a></li>
        <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior4</a></li> -->
        <li class="crumb" data-active="active"><i class="icon fas fa-chevron-right"></i><span>Funções de apoio</span>
        </li>
      </ul>
    </div>
  </div>


      {% if current_user.is_authenticated and current_user.userAtivo %} 

      <div class="row mt-5">
        <div class="d-flex justify-content-around">
      
          <div class="br-magic-button large">
            <button class="br-button" type="button" onclick="window.location.href='{{url_for("unidades.lista_unidades",lista="ativas")}}'">Unidades</button>
          </div>

          <div class="col-1"></div>

          <div class="br-magic-button large">
            <button class="br-button" type="button" onclick="window.location.href='{{url_for("pessoas.lista_pessoas")}}'">Pessoas</button>
          </div>

          <div class="col-1"></div>

          <div class="br-magic-button large">
            <button class="br-button" type="button" onclick="window.location.href='{{url_for("atividades.lista_atividades",lista="ativas")}}'">Atividades</button>
          </div>

        </div>
      </div>  

      <div class="row mt-5">
        <div class="d-flex justify-content-around">
      
          <div class="br-magic-button large">
            <button class="br-button" type="button" onclick="window.location.href='{{url_for("padroes.padroes_i")}}'">Dados Auxiliares</button>
          </div>

          <div class="col-1"></div>

          <div class="br-magic-button large">
            <button class="br-button" type="button" onclick="window.location.href='{{url_for("consultas.consultas_i")}}'">Consultas</button>
          </div>

          <div class="col-1"></div>

          <div class="br-magic-button large">
            <button class="br-button" type="button" onclick="window.location.href='{{url_for("core.cargas_i")}}'">Carga de dados</button>
          </div>

        </div>
      </div>


      {% endif %}


{% endblock %}
