{% extends "base.html" %}
{% block content %}
<div class="container">

<div class="jumbotron">
<h3>Definição do Usuário Gestor do SISGP</h3>

{% macro render_field(field,obr) %}
  {% if obr == True %}
    <dt>{{ field.label(class="form-control-label") }}<span class="text-danger font-weight-bold">*</span>
  {% else %}
    <dt>{{ field.label(class="form-control-label") }}
  {% endif %}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li><span class="text-danger font-weight-bold">{{ error }}</span></li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

<br>

<div>
  <h5>Atual Gestor do SISGP: <span class="text-success">{{ gestorAtual.pesNome }}</h5></span>
</div>

<form class="needs-validation" method='POST' >
  {{ form.hidden_tag() }}


  {# modal para redefinição de gestor #}

  <div class="modal" tabindex="-1" role="dialog" id="gestor_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="p-3 mb-2 bg-danger text-white">
        <h5 class="modal-title">Redefinir Gestor?</h5>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Deseja realmente redefinir o Gestor do SISGP?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

        {{ form.submit(class="btn btn-outline-primary") }}

      </div>
    </div>
  </div>
</div>


  
<br>

  <div class="form-group col-3">
    {{ render_field(form.gestor,class="form-control", obr=True) }}
  </div>


  <br>
    <div class="form-group col-2">
      <button type="button" class="btn btn-danger" data-toggle='modal' data-target='#gestor_modal'>Submeter</button>
    </div>

</form>

</div>
</div>




{% endblock %}
