<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Apoio Sisgp</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">



      <a class="navbar-brand" href="#">
        <img src="/static/cabeça.png" width="30" height="41" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">

        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link" href="{{url_for('core.index')}}">Início<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{url_for('core.info')}}">Sobre</a>
          </li>

         {% if current_user.is_authenticated and current_user.userAtivo %}

          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('unidades.lista_unidades')}}">Unidades</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('pessoas.lista_pessoas')}}">Pessoas</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('atividades.lista_atividades')}}">Atividades</a>
          </li>

          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dados Auxiliares
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <a class="dropdown-item" href="{{url_for('padroes.lista_situ_pessoas')}}">Situações Pessoas</a>
              <a class="dropdown-item" href="{{url_for('padroes.lista_tipo_funcao')}}">Tipos de Função</a>
              <a class="dropdown-item" href="{{url_for('padroes.lista_vinc_pessoas')}}">Tipos de Vínculo</a>
              <a class="dropdown-item" href="{{url_for('padroes.lista_feriados')}}">Feriados</a>
            </div>
          </li>

          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Consultas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <a class="dropdown-item" href="{{url_for('consultas.catalogo_dominio')}}">Catálogo de Domínios</a>
              <a class="dropdown-item" href="{{url_for('consultas.pessoas_qtd_pg_unidade')}}">Qtd. pessoas em PG por unidade</a>
              <a class="dropdown-item" href="{{url_for('consultas.pactos')}}">Pactos de Trabaho</a>
              <a class="dropdown-item" href="{{url_for('consultas.relatorioPG')}}">xlsx PGs e Pactos</a>
              <a class="dropdown-item" href="{{url_for('consultas.hierarquia')}}">xlsx hierarquia unidades</a>
            </div>
          </li>

          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Carga
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('core.CarregaUnidades')}}">Unidades</a>
                <a class="dropdown-item" href="{{url_for('core.CarregaPessoas')}}">Pessoas</a>
            </div>
          </li>

        {% endif %}
        
        {% if current_user.is_authenticated %}

          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle text-success" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{current_user.userNome}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown5">
              <a class="dropdown-item" href="{{url_for('usuarios.log')}}">Ver diário</a>
              {% if current_user.userAtivo %}
                <a class="dropdown-item"  href="{{ url_for('usuarios.view_users') }}">Ver Usuários</a>
                <a class="dropdown-item"  href="{{ url_for('usuarios.gestor') }}">Definir Gestor</a>
              {% endif %}
              
            </div>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('usuarios.logout')}}"><div class="text-success">Sair</div></a>
          </li>

        {% else %}

          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('usuarios.login')}}"><div class="text-success">Entrar</div></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('usuarios.register')}}"><div class="text-success">Registrar-se</div></a>
          </li>

        {% endif %}  

        {% if current_user.is_authenticated and not current_user.userAtivo %}

          <li class="nav-item">
            <span class="navbar-text text-danger">    ATENÇÃO! USUÁRIO NÃO ATIVADO!</span>
          </li>

        {% endif %}

          {% set ver = namespace(num = '2.3.6') %}
          {% set amb = namespace(tipo = 'testes') %}

        </ul>

        <span class="navbar-text"> 
          {% if amb.tipo == 'prod' %}
            <span class="text-danger">(produção)</span>
          {% else %}
          <span class="text-primary">(homologação)</span>
          {% endif %}
          V. {{ ver.num }} <small>cbt</small> 
        </span>

      </div>
    </nav>

    {% with erros = get_flashed_messages(category_filter=["erro"]) %}
      {% if erros %}

        {% for message in erros %}
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{message}}
          </div>
        {% endfor %}

      {% endif %}
    {% endwith %}

    {% with sucessos = get_flashed_messages(category_filter=["sucesso"]) %}
      {% if sucessos %}

        {% for message in sucessos %}
          <div class="alert alert-primary">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{message}}
          </div>
        {% endfor %}

      {% endif %}
    {% endwith %}

    {% with perigos = get_flashed_messages(category_filter=["perigo"]) %}
      {% if perigos %}

        {% for message in perigos %}
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{message}}
          </div>
        {% endfor %}

      {% endif %}
    {% endwith %}

  {% block content %}

  {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>
