{% extends "template_gov.html" %}
{% block content %}

  <div class="col mb-5">
    <div class="br-breadcrumb">
      <ul class="crumb-list">
        <li class="crumb home"><a class="br-button circle" href="{{url_for('core.index')}}"><span class="sr-only">Página inicial</span><i class="fa fa-home"></i></a></li>
        <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="{{url_for('core.apoio_i')}}">Funções de Apoio</a></li>
        <!-- <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior</a></li>
        <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior2</a></li>
        <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior3</a></li>
        <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior4</a></li> -->
        <li class="crumb" data-active="active"><i class="icon fa fa-chevron-right"></i><span>Opções de carga</span>
        </li>
      </ul>
    </div>
  </div>


      {% if current_user.is_authenticated and current_user.userAtivo %} 

      <div class="row mt-5">

        <div class="d-flex justify-content-around">
      
          <!-- <div class="br-magic-button large">
            <button class="br-button" type="button" onclick="window.location.href='{{url_for("core.CarregaUnidades",lista="ativas")}}'">Carga de Unidades</button>
          </div> -->
          <div class="col-auto card-sm">
            <label class="flip-container">
              <div class="flipper">
                <div class="front">
                  <div class="card">
                    <div class="header-card">
                      <input type="checkbox" id="switch" class="flippe">
                      <i class="fa fa-info-circle info" aria-hidden="true"></i>
                    </div>
                    <div class="card-body text-center centered-content">
                      <a href='{{url_for("core.CarregaUnidades",lista="ativas")}}'>
                        <div class="card-text">
                          <!-- <img src="../../static/gov360/img/Solucoes_de_modernizacao.png" alt="Envio de Dados ao Órgão Central do SISP"> -->
                          <i class="fa fa-cube fa-4x" aria-hidden="true"></i><i class="fa fa-plus" aria-hidden="true"></i>
                          <p></p>
                        </div>
                      </a>
                      <p>Carga de Unidades</p>
                    </div>
                  </div>
                </div>
                <div class="back">
                  <div class="card">
                    <div class="header-card">
                      <i class="fa fa-times-circle times" aria-hidden="true"></i>
                    </div>
                    <div class="back-text">
                      Carga em lote de unidades a partir de arquivo csv.
                    </div>
                  </div>
                </div>
              </div>
            </label>
          </div>

          <div class="col-1"></div>

          <!-- <div class="br-magic-button large">
            <button class="br-button" type="button" onclick="window.location.href='{{url_for("core.CarregaPessoas")}}'">Carga de Pessoas</button>
          </div> -->
          <div class="col-auto card-sm">
            <label class="flip-container">
              <div class="flipper">
                <div class="front">
                  <div class="card">
                    <div class="header-card">
                      <input type="checkbox" id="switch" class="flippe">
                      <i class="fa fa-info-circle info" aria-hidden="true"></i>
                    </div>
                    <div class="card-body text-center centered-content">
                      <a href='{{url_for("core.CarregaPessoas")}}'>
                        <div class="card-text">
                          <!-- <img src="../../static/gov360/img/Solucoes_de_modernizacao.png" alt="Envio de Dados ao Órgão Central do SISP"> -->
                          <i class="fa fa-users fa-4x" aria-hidden="true"></i><i class="fa fa-plus" aria-hidden="true"></i>
                          <p></p>
                        </div>
                      </a>
                      <p>Carga de Pessoas</p>
                    </div>
                  </div>
                </div>
                <div class="back">
                  <div class="card">
                    <div class="header-card">
                      <i class="fa fa-times-circle times" aria-hidden="true"></i>
                    </div>
                    <div class="back-text">
                      Carga em lote de pessoas a partir de arquivo csv.
                    </div>
                  </div>
                </div>
              </div>
            </label>
          </div>

          <div class="col-1"></div>

          <!-- <div class="br-magic-button large">
            <button class="br-button" type="button" onclick="window.location.href='{{url_for("core.CarregaAtividades",lista="ativas")}}'">Carga de Atividades</button>
          </div> -->
          <div class="col-auto card-sm">
            <label class="flip-container">
              <div class="flipper">
                <div class="front">
                  <div class="card">
                    <div class="header-card">
                      <input type="checkbox" id="switch" class="flippe">
                      <i class="fa fa-info-circle info" aria-hidden="true"></i>
                    </div>
                    <div class="card-body text-center centered-content">
                      <a href='{{url_for("core.CarregaAtividades",lista="ativas")}}'>
                        <div class="card-text">
                          <!-- <img src="../../static/gov360/img/Solucoes_de_modernizacao.png" alt="Envio de Dados ao Órgão Central do SISP"> -->
                          <i class="fa fa-pen fa-4x" aria-hidden="true"></i><i class="fa fa-plus" aria-hidden="true"></i>
                          <p></p>
                        </div>
                      </a>
                      <p>Carga de Atividades</p>
                    </div>
                  </div>
                </div>
                <div class="back">
                  <div class="card">
                    <div class="header-card">
                      <i class="fa fa-times-circle times" aria-hidden="true"></i>
                    </div>
                    <div class="back-text">
                      Carga em lote de atividades a partir de arquivo csv.
                    </div>
                  </div>
                </div>
              </div>
            </label>
          </div>


        </div>

      </div>  

      {% endif %}



{% endblock %}
