{% extends "template_gov.html" %}
{% block content %}



  {% if current_user.is_authenticated and current_user.userAtivo %} 

      <div class="row mt-5">
      <div class="d-flex justify-content-around">
      
        <div class="br-magic-button large">
          <button class="br-button" type="button" onclick="window.location.href='{{url_for("envio.envio_i")}}'">Envio de Dados ao Órgão Central do SISP</button>
        </div>

        <div class="col-1"></div>

        <div class="br-magic-button large">
          <button class="br-button" type="button" onclick="window.location.href='{{url_for("core.apoio_i")}}'">Funções de Apoio à Gestão do PGD 1.0</button>
        </div>

        <div class="col-1"></div>

        <div class="br-magic-button large">
          <button class="br-button" type="button" onclick="window.location.href='{{url_for("core.interno_i")}}'">Funções Internas</button>
        </div>
      </div>  
      </div>  

  {% else %}  

  <div class="main-content pl-sm-3 mt-4" id="main-content">
    <h1>Bem vindo!</h1>
    <h2>No canto superior direito, entre, ou registre-se, para acessar o sistema.</h2>
  </div>
    
  </div>

  {% endif %}
  


{% endblock %}
