{% extends "template_gov.html" %}
{% block content %}



{% if current_user.is_authenticated and current_user.userAtivo %}

<div class="row mt-5">
  <div class="d-flex justify-content-center  flex-wrap">

    {% with 
      icon="fa-cloud-arrow-up", 
      title="Envio de Dados ao Órgão Central do SISP",
      description="Além do agendamendo do envio de planos (todos, ou somente os não enviados), pode-se verificar quais planos já foram enviados, com a opção do reenvio individual, e também verificar quais planos que estão aptos ao envio, mas que nunca foram enviados, com a opção do envio individual. Toda a ação relacionada ao envio, fica registrada no diário do sistema, que pode ser consultado em Diário de envios.",
      link=url_for('envio.envio_i')
    %}
      {% include "card_menu.html" %}
    {% endwith %}

    {% with 
      icon="fa-handshake", 
      title="Funções de Apoio à Gestão do PGD 1.0",
      description="Gestão das tabelas de Unidades, Pessoas e Atividades do SISGP, bem como das tabelas auxiliares,
      Consultas que podem auxiliar no dia a dia da gestão do PGD na instituição tembém fazem parete desta seção.
      A carga de dados permite a inserção, ou atualização, em lote de Unidades, Pessoas e Atividades por meio do
      upload de arquivos csv.",
      link=url_for('core.apoio_i')
    %}
      {% include "card_menu.html" %}
    {% endwith %}

    
    {% with 
      icon="fa-gears", 
      title="Funções internas",
      description="A consulta ao diário global do sistema, a gestão dos usuários (ativação e permissão de evio de dados) e
      a possibilidade da troca de senha do usuário logado compõe esta seção.",
      link=url_for('core.interno_i')
    %}
      {% include "card_menu.html" %}
    {% endwith %}


  </div>
</div>

{% else %}

<div class="main-content pl-sm-3 mt-4" id="main-content">
  <h1>Bem vindo!</h1>
  <h4 class="fs-5 fw-light">No canto superior direito, entre, ou registre-se, para acessar o sistema.</h4>
</div>

</div>


{% endif %}



{% endblock %}