{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="jumbotron">
    <h3>O sistema de apoio aos gestores do SISGP</h3>
    <p>Uma iniciativa que visa auxiliar o gerenciameno de dados do Sisgp.
    </p>
    <p>Dados de Unidades e Pessoas podem ser consultados e alterados por meio das opções de menu acima.</p>
    <p>Os dados de Unidades correspondem ao que é registrado na tabela de banco de dados "Unidade" do banco de 
      dados do SISGP. Os campos de Tipo, Situação, Nível e Tipo Função da unidades não tem descrição ou associação direta
      com outras tabelas do banco de dados, desta forma, na lista de unidades aqui apresentada, associamos o Tipo aos 
      tipos de unidade que temos no CNPq, a saber: Instituição (1), Diretoria (2), Coordenação-Geral (3), Coordenação (4)
      e Serviço (5). Para o campo Situação, associamos os valores Ativa (1) e Inativa (2). Nível e Tipo Função deixamos 
      em branco. Caso se deseje atribuir outras descrições para os valores registrados no banco, será necessário Alterar
      os scripts (views.py) que geram as listas. Já os valores dos campos Chefe e Substitudo do Chefe puderam ser resgatados
      da tabela Pessoas. 
    </p>
    <p>Quanto aos dados de Pessoas, que se encontram registrados na tabela Pessoa do banco de dados, os
      campos de Unidade, Função, Situação e Vínculo de uma Pessoa encontram contrapartes em outras tabelas do banco, 
      o que torna possível a consulta às respectivas descrições de cada valor para a visualização na lista, no lugar dos 
      códigos numéricos. Estes atributos podem ser consultados e alterados no menu Dados Auxiliares.
    <p>O menu Consultas apresenta opções de visualização do Catálogo de Domínio e também de informações
      sobre a implementação e pactuação de Programas de Gestão nas Unidades da Instituição.
    </p>
    </p>
  </p>A opção de menu Carga permite a carga em lote de dados de Unidades e Pessoas. Os arquivos de entrada tem que
     ser do tipo csv, o separador é o <b>ponto de vírguja (;)</b> e a primeira linha tem que conter os nomes das colunas idênticos 
     aos nomes nas tabelas do DBSISGP. Esta carga não deleta registros do banco, mas não permite inserção de dados já 
     existentes: Com mesma sigla em unidades ou com mesmo cpf em pessoas. Cuidado com o formato de datas,
     o que tem funcionado é o padrão <b>aaaa-dd-mm</b>. Outro detalhe, deve-se carregar primeiro as unidades e depois as 
     pessoas, pois cada registro de pessoa deverá conter a unidade em que ela está lotada.
  </p>
    <p><b>Atenção:</b> Quando for registrar um chefe para uma determinada unidade, lembre-se antes de alterar o 
      status desta pessoa para a correspondente função que ela detém, ou seja, o campo Função da pessoa
      deve ser alterado primeiro.
    </p>



  </div>
</div>

{% endblock %}
