{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="jumbotron">
    <h3>O sistema de apoio aos gestores do SISGP</h3>
    <p>Uma iniciativa que visa auxiliar o gerenciameno de dados do Sisgp.
    </p>
    <p>Dados de Unidades e Pessoas podem ser consultados e alterados por meio das opções de menu acima.</p>
    <p>Os dados de Unidades correspondem ao que é registrado na tabela de banco de dados "Unidade" do banco de 
      dados do SISGP. Os campos de Tipo, Situação, Nível e Tipo Função da unidades não tem descrição ou associação direta
      com outras tabelas do banco de dados, desta forma, na lista de unidades aqui apresentada, associamos o Tipo aos 
      tipos de unidade que temos no CNPq, a saber: Instituição (1), Diretoria (2), Coordenação-Geral (3), Coordenação (4)
      e Serviço (5). Para o campo Situação, associamos os valores Ativa (1) e Inativa (2). Nível e Tipo Função deixamos 
      em branco. Caso se deseje atribuir outras descrições para os valores registrados no banco, será necessário Alterar
      os scripts (views.py) que geram as listas. Já os valores dos campos Chefe e Substitudo do Chefe puderam ser resgatados
      da tabela Pessoas. 
    </p>
    <p>Quanto aos dados de Pessoas, que se encontram registrados na tabela Pessoa do banco de dados, os
      campos de Unidade, Função, Situação e Vínculo de uma Pessoa encontram contrapartes em outras tabelas do banco, 
      o que torna possível a consulta às respectivas descrições de cada valor para a visualização na lista, no lugar dos 
      cógigos numéricos. Estes atributos podem ser consultados e alterados no menu Padrões.
    </p>
    <p><b>Atenção:</b> Quando for registrar um chefe para uma determinada unidade, lembre-se antes de alterar o 
      status desta pessoa para a correspondente função que ela detém, ou seja, o campo Função da pessoa
      deve ser alterado primeiro.
    </p>



  </div>
</div>

{% endblock %}
