{% extends "template_gov.html" %}
{% block content %}

  <div class="col mb-5">
    <div class="br-breadcrumb">
      <ul class="crumb-list">
        <li class="crumb home"><a class="br-button circle" href="{{url_for('core.inicio')}}"><span class="sr-only">Página inicial</span><i class="fa fa-home"></i></a></li>
        <!-- <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior</a></li>
        <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior2</a></li>
        <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior3</a></li>
        <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior4</a></li> -->
        <li class="crumb" data-active="active"><i class="icon fa fa-chevron-right"></i><span>Funções internas</span>
        </li>
      </ul>
    </div>
  </div>

  {% if current_user.is_authenticated and current_user.userAtivo %} 
    <div class="row mt-5">
      <div class="d-flex justify-content-center  flex-wrap">
        
        {% with 
          icon="fa-book", 
          title="Diário",
          description="Registro das principais ações realizadas no sistema. A tela inicial mostra as últimas 24 horas de
          atividades, mas há opção de filtro para um período maior.",
          link=url_for("usuarios.log",tipo="geral")
        %}
          {% include "card_menu.html" %}
        {% endwith %}

        {% with 
          icon="fa-user", 
          title="Gestão de usuários",
          description="Lista dos usuários registrados no sistema com a opção de ativação de usuário recém registrado, bem 
          como a permição de uso da funcionalidade de envio de dados .",
          link=url_for("usuarios.view_users")
        %}
          {% include "card_menu.html" %}
        {% endwith %}

        {% with 
          icon="fa-lock", 
          title="Trocar senha",
          description="Formulário onde o usuário logado pode trocar sua senha.",
          link=url_for("usuarios.troca_senha")
        %}
          {% include "card_menu.html" %}
        {% endwith %}

      </div>
    </div>

  {% endif %}


{% endblock %}
