{% extends "template_gov.html" %}
{% block content %}

  <div class="col mb-5">
    <div class="br-breadcrumb">
      <ul class="crumb-list">
        <li class="crumb home"><a class="br-button circle" href="{{url_for('core.index')}}"><span class="sr-only">Página inicial</span><i class="fas fa-home"></i></a></li>
        <!-- <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior</a></li>
        <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior2</a></li>
        <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior3</a></li>
        <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior4</a></li> -->
        <li class="crumb" data-active="active"><i class="icon fas fa-chevron-right"></i><span>Funções internas</span>
        </li>
      </ul>
    </div>
  </div>

      {% if current_user.is_authenticated and current_user.userAtivo %} 


      <div class="row mt-5">

        <div class="d-flex justify-content-around">
      
          <div class="br-magic-button large">
            <button class="br-button" type="button" onclick="window.location.href='{{url_for("usuarios.log")}}'">Diário do sistema</button>
          </div>

          <div class="col-1"></div>

          <div class="br-magic-button large">
            <button class="br-button" type="button" onclick="window.location.href='{{url_for("usuarios.view_users")}}'">Gestão de usuários</button>
          </div>

          <div class="col-1"></div>

          <div class="br-magic-button large">
            <button class="br-button" type="button" onclick="window.location.href='{{url_for("usuarios.troca_senha")}}'">Trocar senha</button>
          </div>

        </div>

      </div>  

      {% endif %}


{% endblock %}
