{% extends "base.html" %}
{% block content %}
<div class="container">

<div class="jumbotron">

{% macro render_field(field,obr) %}
  {% if obr == True %}
    <dt>{{ field.label(class="form-control-label") }}<span class="text-danger font-weight-bold">*</span>
  {% else %}
    <dt>{{ field.label(class="form-control-label") }}
  {% endif %}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li><span class="text-danger font-weight-bold">{{ error }}</span></li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

<form action="{{ url_for('users.reset_with_token', token=token) }}" method="POST">
  {{form.hidden_tag()}}

  <div class="form-group">
    {{render_field(form.password,class="form-control", placeholder="Senha",obr=True)}}
  </div>
  <div class="form-group">
    {{render_field(form.pass_confirm,class="form-control", placeholder="Confirme a senha",obr=True)}}
  </div>

  <br>

    {{form.submit(class="btn btn-primary")}}

</form>

</div>
</div>
{% endblock %}
