{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h5><b>Plano de Trabalho (Atividades) de {{ user.username }}</b></h5>

<caption>
  <div class="row">
      <div class="col">
        <p>Lista das <span class="badge badge-pill badge-primary">{{quantidade_1}}</span> atividades onde este usuário é o 1º responsável.</p>
        <p>Carga horária prevista: <span class="badge badge-pill badge-warning">{{carga_1}}</span> horas por semana.</p>
      </div>
  </div>
</caption>

  <table class="table table-striped table-hover table-sm">
    <caption>Plano de Trabalho 1</caption>
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col"><p align = "center">Sigla</p></th>
        <th scope="col"><p align = "center">Descrição</p></th>
        <th scope="col"><p align = "center">Natureza</p></th>
        <th scope="col"><p align = "center">Meta (h/sem.)</p></th>
        <th scope="col"><p align = "center">1º respon.</p></th>
        <th scope="col"><p align = "center">2º respon.</p></th>
      </tr>
    </thead>
    <tbody>
      {% for atividade in atividades_1 %}

      <tr>
        <th scope="row"><p align = "center"> {{atividades_1.index(atividade) + 1}} </p></th>
        <td><p align = "center"> {{atividade.atividade_sigla}} </p></td>
        <td><p align = "left"> {{atividade.atividade_desc}} </p></td>
        <td><p align = "center"> {{atividade.natureza}} </p></td>
        <td><p align = "center"> {{atividade.meta}} </p></td>
        <td><p align = "center"> {{atividade.resp1}} </p></td>
        <td><p align = "center"> {{atividade.resp2}} </p></td>
      </tr>

      {% endfor %}

    </tbody>
  </table>

  <caption>
    <div class="row">
        <div class="col">
          <p>Lista das <span class="badge badge-pill badge-primary">{{quantidade_2}}</span> atividades onde este usuário é o 2º responsável.</p>
          <p>Carga horária prevista: <span class="badge badge-pill badge-warning">{{carga_2}}</span> horas por semana.</p>
        </div>
    </div>
  </caption>

    <table class="table table-striped table-hover table-sm">
      <caption>Plano de Trabalho 2</caption>
      <thead>
        <tr>
          <th scope="col"><p align = "center">#</p></th>
          <th scope="col"><p align = "center">Sigla</p></th>
          <th scope="col"><p align = "center">Descrição</p></th>
          <th scope="col"><p align = "center">Natureza</p></th>
          <th scope="col"><p align = "center">Meta (h/sem.)</p></th>
          <th scope="col"><p align = "center">1º respon.</p></th>
          <th scope="col"><p align = "center">2º respon.</p></th>
        </tr>
      </thead>
      <tbody>
        {% for atividade in atividades_2 %}

        <tr>
          <th scope="row"><p align = "center"> {{atividades_2.index(atividade) + 1}} </p></th>
          <td><p align = "center"> {{atividade.atividade_sigla}} </p></td>
          <td><p align = "left"> {{atividade.atividade_desc}} </p></td>
          <td><p align = "center"> {{atividade.natureza}} </p></td>
          <td><p align = "center"> {{atividade.meta}} </p></td>
          <td><p align = "center"> {{atividade.resp1}} </p></td>
          <td><p align = "center"> {{atividade.resp2}} </p></td>
        </tr>

        {% endfor %}

      </tbody>
    </table>

</div>
{% endblock %}
