{% extends "template_gov.html" %}
{% block content %}

<div class="col mb-5">
  <div class="br-breadcrumb">
    <ul class="crumb-list">
      <li class="crumb home"><a class="br-button circle" href="{{url_for('core.inicio')}}"><span class="sr-only">Página inicial</span><i class="fa fa-home"></i></a></li>
      {% if tipo == 'geral' %}
       <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="{{url_for('core.interno_i')}}">Funções Internas</a></li>
       <li class="crumb" data-active="active"><i class="icon fa fa-chevron-right"></i><span>Diário</span>
      {% elif tipo == 'envio' %}
        <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="{{url_for('envio.envio_i')}}">Envio</a></li>
        <li class="crumb" data-active="active"><i class="icon fa fa-chevron-right"></i><span>Diário de envios</span>
      {% endif %}
      </li>
    </ul>
  </div>
</div>

{% macro render_field(field,obr) %}
  {% if obr == True %}
    <dt>{{ field.label(class="form-control-label") }}<span class="text-danger font-weight-bold">*</span>
  {% else %}
    <dt>{{ field.label(class="form-control-label") }}
  {% endif %}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li><span class="text-danger font-weight-bold">{{ error }}</span></li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}
<form class="form-group" method='POST'>
  {{ form.hidden_tag() }}

  <div class="form-group row align-items-center">

    <div class="form-group col-4">
      {{ render_field(form.data_ini,class="form-control",placeholder="dd/mm/aaaa",obr=False) }}
    </div>
    <div class="form-group col-4">
      {{ render_field(form.data_fim,class="form-control",placeholder="dd/mm/aaaa",obr=False) }}
    </div>
    <div class="form-group col-2">
      {{ form.submit(class="br-button secondary mr-3") }}
    </div>

  </div>    
</form> 
<div class="card">
  <div class="card-header">
    <div class="d-flex flex-column flex-md-row justify-content-between">
      {% if tipo == 'geral' %}
        <h5 class="header-list">Diário</h5>
      {% elif tipo == 'envio' %}
        <h5 class="header-list">Diário de Envios</h5>
      {% endif %}
      <div class="d-flex justify-content-around">
        
      </div>
    </div>
  </div>
  <div class="card-body">
    <p>(Observação: Se não informadas datas na procura, são apresentados registros das <b>últimas 24 horas</b>)</p>

    

    {% if log == None %}
      <h3>Nada, por enquanto.</h3>

    {% else %}
      <table class="table table-striped table-hover table-sm">
        <thead>
          <tr>
            <th scope="col"><p align = "center">#</p></th>
            <th scope="col"><p align = "center">Data e Hora</p></th>
            <th scope="col"><p align = "left">Responsável</p></th>
            <th scope="col"><p align = "left">Descrição</p></th>
          </tr>
        </thead>

        <tbody>

          {% for l in log %}

          <tr>
            <th scope="row"><p align = "center"><small>{{l.id}}</small></p></th>
            <td><p align = "center"><small> {{l.data_hora.strftime("%x - %H:%M")}} </small> </p></td>
            <td><p align = "left"><small> {{l.userNome}} </small></p></td>
            <td><p align = "left"><small>{{l.msg}}</small></p></td>
          </tr>

          {% endfor %}

        </tbody>

      </table>
    {% endif %}
  </div>
</div>

{% endblock %}
