{% extends "base.html" %}
{% block content %}

  <div class="jumbotron">
    <div align = 'center'>
      <h2>{{qtd}} Demandas {% if filtro == 'conclu'%} concluídas{% endif %} {% if filtro[0:2] == 'nc'%}(em aberto){% endif %} {% if user != None%}de {{user.username}} - {{user.coord}}{% endif %}</h2>
      <br>

      {% if filtro[0:2] != 'nc' and filtro != 'conclu' %}
        <div class="form-group row">
          <div class="form-group col-6">
            <a href="{{url_for('users.user_posts',username=user.username,filtro='nc')}}"
              class="btn btn-primary active" role="button" aria-pressed="true">Clique aqui para ver somente as <b>não</b> concluídas</a>
          </div>
          <div class="form-group col-6">
            <a href="{{url_for('users.user_posts',username=user.username,filtro='conclu')}}"
              class="btn btn-success" role="button" aria-pressed="true">Clique aqui para ver somente as concluídas</a>
          </div>
        </div>
      {% endif %}

      {% if filtro[0:2] == 'nc' %}
        <div class="form-group row">
          <div class="form-group col-4">
            {% if filtro[-1] == '1' %}
              <span class="text-warning"><b>Vendo somente as <span class="badge badge-pill badge-light">{{qtd_pdes}}</b></span><span class="text-warning"><b>que aguardam despacho</b></span>
            {% else %}
              <a href="{{url_for('users.user_posts',username=user.username,filtro='nc1')}}"
                class="btn btn-warning" role="button" aria-pressed="true">Ver as que aguardam despacho</a>
            {% endif %}
          </div>
          <div class="form-group col-3">
            {% if filtro[-1] == '3' %}
              <span class="text-secondary"><b>Vendo somente as</b></span> <span class="badge badge-pill badge-light">{{qtd_com_usu}}</span> <span class="text-secondary"><b>que estão contigo</b></span>
            {% else %}
              <a href="{{url_for('users.user_posts',username=user.username,filtro='nc3')}}"
                class="btn btn-secondary" role="button" aria-pressed="true">Ver as que estão contigo</a>
            {% endif %}
          </div>
          <div class="form-group col-4">
            {% if filtro[-1] == '2' %}
              <span class="text-success"><b>Vendo somente as <span class="badge badge-pill badge-light">{{qtd_cdn}}</b></span> <span class="text-success"><b>que tem um despacho como último registro</b></span>
            {% else %}
              <a href="{{url_for('users.user_posts',username=user.username,filtro='nc2')}}"
                class="btn btn-success" role="button" aria-pressed="true">Ver as que já estão com despacho</a>
            {% endif %}
          </div>
        </div>
      {% endif %}

    </div>


  <table class="table table-striped table-hover table-sm">
    <caption>Demandas</caption>
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col"><p align = "center">Demanda</p></th>
        <th scope="col"><p align = "center">SEI</p></th>
        <th scope="col"><p align = "center">Atividade</p></th>
        <th scope="col"><p align = "center">Tipo</p></th>
        <th scope="col"><p align = "center">Registro</p></th>
        <th scope="col"><p align = "center">Título</p></th>
        <th scope="col"><p align = "center">Aguarda despacho?</p></th>
        <th scope="col"><p align = "center">Despacho recente?</p></th>
        <th scope="col"><p align = "center">Concluída?</p></th>
        <th scope="col"><p align = "center">Aferida?</p></th>
      </tr>
    </thead>

    <tbody>
      {% for post in demandas %}

        {% if filtro[-1] != '1' and filtro[-1] != '2' and filtro[-1] != '3' %}

          <tr>
            <th scope="row"><p align = "center"> {{demandas.index(post) + 1}}.</p></th>
            <td><p align = "center"> <a href="{{url_for('demandas.demanda',demanda_id = post.id)}}">{{post.id}} </p></td>
            <td><p align = "center"> {{post.sei}} </p></td>
            <td><p align = "center"> <b>{{post.atividade_sigla}}</b> </p></td>
            <td><p align = "center"> {{post.tipo}} </p></td>
            <td><p align = "center"> <b>{{post.data.strftime("%x")}}</b> </p></td>
            <td><p align = "left"> <abbr title="{{post.titulo}}"><span class="d-inline-block text-truncate" style="max-width: 350px;">{{post.titulo}}</span> </p></td>
            <td><p align = "center">
              {% if post.necessita_despacho %}
                <span class="bg-warning text-dark">
                  {% if post.data_env_despacho != None %} desde {{post.data_env_despacho.strftime('%x')}} {% else %} <b>Sim</b> {% endif %}
                </span>
              {% elif post.necessita_despacho_cg %} <span class="bg-info text-dark">SUPERIOR</span>
              {% else %}
                Não
              {% endif %}
            </p></td>
            <td><p align = "center">
              {% if post.id in com_despacho_novo %} <span class="bg-success text-white"> <b>Sim</b> </span> {% else %} Não {% endif %}
            </p></td>
            <td><p align = "center">
              {% if post.conclu %} em {{post.data_conclu.strftime('%x')}} {% else %} Não {% endif %}
            </p></td>
            <td><p align = "center">
              {% if post.conclu %}{% if post.nota != -1 and post.nota != None%} <b>{{post.nota}}</b>{% else %}<b>Não</b>{% endif %}{% endif %}
            </p></td>
          </tr>

        {% elif filtro[-1] == '1' %}
          {% if post.necessita_despacho or post.necessita_despacho_cg %}

          <tr>
            <th scope="row"><p align = "center"> {{demandas.index(post) + 1}}.</p></th>
            <td><p align = "center"> <a href="{{url_for('demandas.demanda',demanda_id = post.id)}}">{{post.id}} </p></td>
            <td><p align = "center"> {{post.sei}} </p></td>
            <td><p align = "center"> <b>{{post.atividade_sigla}}</b> </p></td>
            <td><p align = "center"> {{post.tipo}} </p></td>
            <td><p align = "center"> <b>{{post.data.strftime("%x")}}</b> </p></td>
            <td><p align = "left"> <abbr title="{{post.titulo}}"><span class="d-inline-block text-truncate" style="max-width: 350px;">{{post.titulo}}</span> </p></td>
            <td><p align = "center">
              {% if post.necessita_despacho %}
                <span class="bg-warning text-dark">
                  {% if post.data_env_despacho != None %} desde {{post.data_env_despacho.strftime('%x')}} {% else %} <b>Sim</b> {% endif %}
                </span>
              {% elif post.necessita_despacho_cg %} <span class="bg-info text-dark">SUPERIOR</span>
              {% else %}
                Não
              {% endif %}
            </p></td>
            <td><p align = "center">
              {% if post.id in com_despacho_novo %} <span class="bg-success text-white"> <b>Sim</b> </span> {% else %} Não {% endif %}
            </p></td>
            <td><p align = "center">
              {% if post.conclu %} em {{post.data_conclu.strftime('%x')}} {% else %} Não {% endif %}
            </p></td>
            <td><p align = "center">
              {% if post.conclu %}{% if post.nota != -1 and post.nota != None%} <b>{{post.nota}}</b>{% else %}<b>Não</b>{% endif %}{% endif %}
            </p></td>
          </tr>

          {% endif %}

        {% elif filtro[-1] == '2' %}
          {% if post.id in com_despacho_novo %}

          <tr>
            <th scope="row"><p align = "center"> {{demandas.index(post) + 1}}.</p></th>
            <td><p align = "center"> <a href="{{url_for('demandas.demanda',demanda_id = post.id)}}">{{post.id}} </p></td>
            <td><p align = "center"> {{post.sei}} </p></td>
            <td><p align = "center"> <b>{{post.atividade_sigla}}</b> </p></td>
            <td><p align = "center"> {{post.tipo}} </p></td>
            <td><p align = "center"> <b>{{post.data.strftime("%x")}}</b> </p></td>
            <td><p align = "left"> <abbr title="{{post.titulo}}"><span class="d-inline-block text-truncate" style="max-width: 350px;">{{post.titulo}}</span> </p></td>
            <td><p align = "center">
              {% if post.necessita_despacho %}
                <span class="bg-warning text-dark">
                  {% if post.data_env_despacho != None %} desde {{post.data_env_despacho.strftime('%x')}} {% else %} <b>Sim</b> {% endif %}
                </span>
              {% elif post.necessita_despacho_cg %} <span class="bg-info text-dark">SUPERIOR</span>
              {% else %}
                Não
              {% endif %}
            </p></td>
            <td><p align = "center">
              {% if post.id in com_despacho_novo %} <span class="bg-success text-white"> <b>Sim</b> </span> {% else %} Não {% endif %}
            </p></td>
            <td><p align = "center">
              {% if post.conclu %} em {{post.data_conclu.strftime('%x')}} {% else %} Não {% endif %}
            </p></td>
            <td><p align = "center">
              {% if post.conclu %}{% if post.nota != -1 and post.nota != None%} <b>{{post.nota}}</b>{% else %}<b>Não</b>{% endif %}{% endif %}
            </p></td>
          </tr>

          {% endif %}

        {% elif filtro[-1] == '3' %}
          {% if post.id not in com_despacho_novo and not post.necessita_despacho and not post.necessita_despacho_cg %}

          <tr>
            <th scope="row"><p align = "center"> {{demandas.index(post) + 1}}.</p></th>
            <td><p align = "center"> <a href="{{url_for('demandas.demanda',demanda_id = post.id)}}">{{post.id}} </p></td>
            <td><p align = "center"> {{post.sei}} </p></td>
            <td><p align = "center"> <b>{{post.atividade_sigla}}</b> </p></td>
            <td><p align = "center"> {{post.tipo}} </p></td>
            <td><p align = "center"> <b>{{post.data.strftime("%x")}}</b> </p></td>
            <td><p align = "left"> <abbr title="{{post.titulo}}"><span class="d-inline-block text-truncate" style="max-width: 350px;">{{post.titulo}}</span> </p></td>
            <td><p align = "center">
              {% if post.necessita_despacho %}
                <span class="bg-warning text-dark">
                  {% if post.data_env_despacho != None %} desde {{post.data_env_despacho.strftime('%x')}} {% else %} <b>Sim</b> {% endif %}
                </span>
              {% elif post.necessita_despacho_cg %} <span class="bg-info text-dark">SUPERIOR</span>
              {% else %}
                Não
              {% endif %}
            </p></td>
            <td><p align = "center">
              {% if post.id in com_despacho_novo %} <span class="bg-success text-white"> <b>Sim</b> </span> {% else %} Não {% endif %}
            </p></td>
            <td><p align = "center">
              {% if post.conclu %} em {{post.data_conclu.strftime('%x')}} {% else %} Não {% endif %}
            </p></td>
            <td><p align = "center">
              {% if post.conclu %}{% if post.nota != -1 and post.nota != None%} <b>{{post.nota}}</b>{% else %}<b>Não</b>{% endif %}{% endif %}
            </p></td>
          </tr>

          {% endif %}

        {% endif %}

      {% endfor %}

{% endblock %}
