{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <div align = 'center'>
      <h2>{{qtd}} Demandas {% if filtro == 'conclu'%} concluídas{% endif %} {% if filtro == 'nc'%}(em aberto){% endif %} {% if user != None%}de {{user.username}} - {{user.coord}}{% endif %}</h2>
      <br>
      {% if filtro != 'nc' and filtro != 'conclu' %}
        <a href="{{url_for('users.user_posts',username=user.username,filtro='nc')}}" class="btn btn-success">Clique aqui para ver somente as não concluídas</a>
      {% endif %}
    </div>
  </div>

  {% for post in demandas.items %}
    <h5><a href="{{url_for('demandas.demanda',demanda_id = post.id)}}">{{post.id}} - {{post.atividade_sigla}} - {{post.titulo}}</a>
      {% if post.necessita_despacho %}
        <span class="bg-warning text-dark">** AGUARDA DESPACHO
          {% if post.data_env_despacho != None %}
            desde {{post.data_env_despacho.strftime('%x')}}
          {% endif %}
        **</span>
      {% endif %}
      {% if post.necessita_despacho_cg %} <span class="bg-info text-dark">** AGUARDA DESPACHO CG **</span> {% endif %}
      {% if post.id in com_despacho_novo %} <span class="bg-success text-dark">** VERIFICAR DESPACHO **</span> {% endif %}
      {% if post.conclu %} <span class="bg-success text-white">** CONCLUÍDO em {{post.data_conclu.strftime('%x')}} **</span> {% endif %}</h5>
    <p class="text-muted">Registrada em: {{post.data.strftime("%x")}}</p>
    <p class="text-muted">Referente ao processo: {{post.sei}}</p>
    <p>{{post.desc}}</p>
    <p>{% if post.conclu %}{% if post.nota != -1 %}Nota: {{post.nota}}{% else %}Não aferida{% endif %}{% endif %}</p>
    <p>...</p>
  {% endfor %}

</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

    {% for page_num in demandas.iter_pages(left_edge=1,left_current=1,right_current=2,right_edge=1) %}
      {% if page_num %}
        {% if demandas.page == page_num %}
          <li class="page-item disabled">
            <a class="page-link" href="{{url_for('users.user_posts',username=user.username,filtro=filtro,page=page_num)}}">{{page_num}}</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="{{url_for('users.user_posts',username=user.username,filtro=filtro,page=page_num)}}">{{page_num}}</a>
          </li>
        {% endif %}
      {% else %}
        <span class="page-link">…</span>
      {% endif %}
    {% endfor %}

  </ul>
</nav>


{% endblock %}
