{% extends "template_gov.html" %}
{% block content %}

<div class="col mb-5">
  <div class="br-breadcrumb">
    <ul class="crumb-list">
      <li class="crumb home"><a class="br-button circle" href="{{url_for('core.index')}}"><span class="sr-only">Página inicial</span><i class="fas fa-home"></i></a></li>
      <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="{{url_for('core.interno_i')}}">Funções Internas</a></li>
      <!-- <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior2</a></li>
      <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior3</a></li>
      <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior4</a></li> -->
      <li class="crumb" data-active="active"><i class="icon fas fa-chevron-right"></i><span>Usuários</span>
      </li>
    </ul>
  </div>
</div>

<div class="container">

  <div class="admin-view-users">
    <div class="page-header">
      <h3>Lista dos usuários</h3>
    </div>

    <div style="overflow-y: auto; height:600px">
      <table class="table table-striped" id="admin_list_of_users">
        <thead>
          <tr>
            <th>ID</th>
            <th>Usuário</th>
            <th>E-mail</th>
            <th align="center">Data reg.</th>
            <th align="center">E-mail conf.?</th>
            <th align="center">E-mail conf. em</th>
            <th align="center">Último login</th>
            <th align="center">Ativo?</th>
            <th align="center">Envia PT?</th>
            </tr>
        </thead>
        <tbody>
          {% for user in lista %}
            <tr>
              <td> <a href="{{url_for('usuarios.update_user', user_id=user.id)}}"><abbr title="Clique aqui atualizar">{{ user.id }} </td>
              <td> {{ user.userNome }} </td>
              <td> {{ user.userEmail }} </td>
              <td align="center"> {% if user.registered_on != None %} {{user.registered_on.strftime('%d/%m/%Y')}} {% endif %} </td>
              <td align="center"> {% if user.email_confirmed == True %} Sim {% else %} Não {% endif %} </td>
              <td align="center"> {% if user.email_confirmed_on != None %} 
                                    {{user.email_confirmed_on.strftime('%d/%m/%Y')}}
                                  {% else %}
                                    <a href="{{url_for('usuarios.confirm', userId=user.id)}}"><abbr title="Clique aqui enviar novo e-mail de confirmação.">Enviar e-mail</abbr> 
                                  {% endif %}
              </td>
              <td align="center"> {% if user.current_logged_in != None %} {{user.current_logged_in.strftime('%d/%m/%Y')}} {% endif %}</td>
              <td align="center"> {% if user.userAtivo == True %} Sim {% else %} Não {% endif %} </td>
              <td align="center"> {% if user.userEnvia == True %} Sim {% else %} Não {% endif %} </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock %}
