alembic==1.7.1
altgraph @ file:///home/linux1/recipes/ci/altgraph_1611055153312/work
blinker==1.4
cachetools==4.2.2
certifi==2021.5.30
charset-normalizer==2.0.4
click @ file:///tmp/build/80754af9/click_1621604852318/work
colorama==0.4.4
dnspython==2.1.0
email-validator==1.1.3
Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
future @ file:///C:/ci/future_1607568713721/work
greenlet==1.1.1
httplib2==0.19.1
idna==3.2
importlib-metadata @ file:///C:/ci/importlib-metadata_1617877477759/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1624781299557/work
macholib @ file:///home/linux1/recipes/ci/macholib_1611055836792/work
Mako==1.1.5
MarkupSafe @ file:///C:/ci/markupsafe_1621528502553/work
pefile==2019.4.18
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome @ file:///C:/ci/pycryptodome_1613765394692/work
PyInstaller @ file:///C:/ci/pyinstaller_1615968715952/work
pymssql==2.2.3
pyodbc==4.0.32
pyparsing==2.4.7
python-dateutil==2.8.2
pywin32==228
pywin32-ctypes @ file:///C:/ci/pywin32-ctypes_1607553594546/work
requests==2.26.0
rsa==4.7.2
six==1.16.0
SQLAlchemy==1.4.23
uritemplate==3.0.1
urllib3==1.26.6
Werkzeug @ file:///home/ktietz/src/ci/werkzeug_1611932622770/work
wincertstore==0.2
WTForms==2.3.3
zipp @ file:///tmp/build/80754af9/zipp_1625570634446/work
