{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  {% if lista == 'ativas' %}
    <div class = "row">
      <div class = "col-2">
        <span class="align-baseline"><h5>Lista das Atividades Válidas</h5></span>
      </div>                        
      <div class = "col">
        <span class="align-baseline"><a class="nav-link" href="{{url_for('atividades.lista_atividades',lista='Todas')}}">(Ver todas as Atividades)</a></h5></span>
      </div> 
    </div>
  {% else %} 
    <h5>Lista das Atividades</h5>   
  {% endif %}                       

  <div class = "row">
    <div class="col-1">
      <a href="{{url_for('atividades.cria_atividade')}}" class="btn btn-primary active" role="button" aria-pressed="true">Inserir nova</a>
    </div>
    <div class="col">
      <small class="form-text text-muted"> Ou clique em um número de sequência para ver e atualizar dados da atividade.</small>
    </div>
  </div>
  <br>

<caption>
        <p>Lista das <span class="badge badge-pill badge-primary">{{quantidade}}</span>
          {% if lista == 'Todas'%} atividades da Instituição (TODAS)
          {% elif lista == 'pgs_g' or lista == 'pgs_v' %} atividades utilizadas em programas de gestão
          {% elif lista == 'ativas' %} atividades da Instituição (VÁLIDAS)
          {% else %} atividades utilizadas em planos de Trabalho
          {% endif %}  
        </p>
</caption>

<div style="overflow-y:auto ; height:450px">
  <table id="table"
        data-toggle="table"
        data-filter-control="true"
        data-show-search-clear-button="true"
        data-sortable="true"
        classes="table-sm"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        class="table table-striped table-hover table-sm">
    <caption>Atividades</caption>
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Título</p></th>
        <th scope="col" data-field="descricao" data-filter-control="input" data-sortable="true"><p align = "center">Calculo do Tempo</p></th>
        <th scope="col" data-field="permiteRemoto" data-filter-control="input" data-sortable="true"><p align = "center">Permite Remoto</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Tempo Presencial</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Tempo Remoto</p></th>
        <th scope="col" data-field="complexidade" data-filter-control="input" data-sortable="true"><p align = "center">Complexidade</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Unidades</p></th>
  
      </tr>
    </thead>
    <tbody>

      {% for a in ativs %}

      <tr {% if a.util == None%} class="text-secondary" {% endif %}>
        <th scope="row"><abbr title="Atualizar atividade.">
          <p align = "center" ><a href="{{url_for('atividades.atividade_update', cod_ativ=a.itemCatalogoId)}}"> {{ativs.index(a) + 1}} </a>
        </p></th>
        <td>
          <p align = "left"> 
            <abbr title="{{a.titulo}}"><span class="d-inline-block text-truncate" style="max-width: 600px;"> {{a.titulo}}</span></abbr>
          </p>
        </td>
        <td><p align = "center"> {{a.descricao}} </p></td>
        <td><p align = "center"> {% if a.permiteRemoto %}Sim{% else %}Não{% endif %} </p></td>
        <td><p align = "center"> {{(a.tempoPresencial)|decimal_com_virgula}} </p></td>
        <td><p align = "center"> {{(a.tempoRemoto)|decimal_com_virgula}} </p></td>
        <td><p align = "center"> {{a.complexidade}} </p></td>
        <td><p align = "center"> <a href="{{url_for('atividades.associa_atividade_unidade', cod_ativ=a.itemCatalogoId)}}">{% if a.qtd_unids == None %} 0 {% else %} {{a.qtd_unids}} {% endif %}</a></p></td>

      </tr>

      {% endfor %}

    </tbody>
  </table>

</div>

</div>
{% endblock %}
