{% extends "base.html" %}
{% block content %}

<div class="container">

  <div class="jumbotron">

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Demanda</h6>
              {% if titulo != None %}
                <h4>{{titulo}}</h4><br>
              {% endif %}
              <h5>Escrito por: {{post.author.username}}</h5>
              <h5>Em: {{data.strftime('%x')}}</h5><br>
              <h5>Tipo: {{tipo}}</h5>
              <h5>Descrição: {{desc}}</h5><br>
              {% if necessita_despacho == False %}
                <h4>Necessita despacho: Não</h4>
              {% else %}
                <h4 class="text-danger">Necessita despacho: Sim</h4>
              {% endif %}
              {% if conclu == False %}
                <h4>Concluído: Não</h4>
              {% else %}
                <h4 class="text-success">Concluído: Sim</h4>
              {% endif %}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Providência</h6>
              <h4>Inserir Providência</h4>

              {% macro render_field(field,obr) %}
                {% if obr == True %}
                  <dt>{{ field.label(class="form-control-label") }}<span class="text-danger font-weight-bold">*</span>
                {% else %}
                  <dt>{{ field.label(class="form-control-label") }}
                {% endif %}
                <dd>{{ field(**kwargs)|safe }}
                {% if field.errors %}
                  <ul class=errors>
                  {% for error in field.errors %}
                    <li><span class="text-danger font-weight-bold">{{ error }}</span></li>
                  {% endfor %}
                  </ul>
                {% endif %}
                </dd>
              {% endmacro %}

              <form class="form-group" method='POST'>
                {{ form.hidden_tag() }}


                <div class="row">
                  <div class="col-5 px-md-2" >
                    {{ render_field(form.data_hora,class="form-control",obr=True) }}
                  </div>

                  <div class="col-3 px-md-3" >
                    {{ render_field(form.duracao,class="form-control" ,obr=True) }}
                  </div>

                  <div class="col-4 px-md-4 ">
                    {{ form.agenda(class="form-check-input", type="checkbox") }}
                    {{ form.agenda.label(class="form-check-label") }}
                  </div>
                </div>

                <div class="form-group">
                  {{ render_field(form.texto,class="form-control form-control-lg", rows="3",obr=True) }}
                </div>

                <div class="form-check">
                  {{ form.necessita_despacho(class="form-check-input", type="checkbox") }}
                  {{ form.necessita_despacho.label(class="form-check-label") }}
                </div>

                <div class="form-group">
                  <br>
                  {{ form.submit(class="btn btn-outline-primary") }}<span class="text-muted"> Atenção: campos marcados com * são obrigatórios.</span>
                </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
{% endblock %}
