{% extends "base.html" %}
{% block content %}
<div class="container">

<div class="jumbotron">
<h1>Inserir/Alterar Atividade do Plano de Trabalho</h1>

{% macro render_field(field,obr) %}
  {% if obr == True %}
    <dt>{{ field.label(class="form-control-label") }}<span class="text-danger font-weight-bold">*</span>
  {% else %}
    <dt>{{ field.label(class="form-control-label") }}
  {% endif %}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li><span class="text-danger font-weight-bold">{{ error }}</span></li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

<form class="needs-validation" method='POST' >
  {{ form.hidden_tag() }}

  <div class="form-group col-4">
    {{ render_field(form.atividade_sigla,class="form-control",obr=True) }}
  </div>

  <div class="form-group col-10">
    {{ render_field(form.atividade_desc,class="form-control",obr=True) }}
  </div>

  <div class="form-row">
    <div class="form-group col-4">
      {{ render_field(form.natureza,class="form-control",obr=True) }}
    </div>

    <div class="form-group col-2">
      {{ render_field(form.horas_semana,class="form-control",obr=True) }}
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-3">
      {{ render_field(form.respon_1,class="form-control",obr=True) }}
    </div>
    <div class="form-group col-3">
      {{ render_field(form.respon_2,class="form-control",obr=True) }}
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-9">
      {{ form.submit(class="btn btn-primary") }}
    </div>
    {% if id != 0 %}
      <div class="form-group col-2">
        <button type="button" class="btn btn-danger" data-toggle='modal' data-target='#del_modal'>Excluir</button>
      </div>
    {% endif %}
  </div>

  </form>

</div>
</div>

{# modal para deleção de atividade #}

  <div class="modal" tabindex="-1" role="dialog" id="del_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="p-3 mb-2 bg-danger text-white">
        <h5 class="modal-title">Exluir Atividade?</h5>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Deseja realmente excluir esta atividade?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

        <form action="{{url_for('demandas.delete_atividade',atividade_id=id)}}" method="post">
          <input class="btn btn-danger" type="submit" name="" value="Excluir">
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}
