{% extends "base.html" %}
{% block content %}

<div class="container">

<div class="jumbotron">
  <div class="">
    <h5>Lista de todas as Demandas</h5>
    <p>Total de <span class="badge badge-primary badge-pill">{{demandas_count}}</span> demandas - pág. {{demandas.page}} de {{demandas.pages}}</p>
  </div>

  {% for demanda in demandas.items %}

    <div class="row">

    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <span>Demanda: {{demanda.id}} ({{demanda.coord}}) - {{demanda.atividade_sigla}}</span>
          {% if demanda.titulo != None %}
            <h4><a class="card-title" href="{{url_for('demandas.demanda',demanda_id=demanda.id)}}"><abbr title="Clique aqui para ver detalhes da demanda">{{demanda.titulo}}</abbr></a></h4>
          {% endif %}
          <p>Tipo: {{demanda.tipo}}</p>
          SEI: {{demanda.sei}}
            {% if demanda.convênio != None and demanda.convênio != '' and demanda.convênio != 0 %}
              <p>Convênio: {{demanda.convênio}}/{{demanda.ano_convênio}}</p>
            {% else %}
              <p></p>
            {% endif %}

          Por: <a href="{{url_for('users.user_posts',username=demanda.username,filtro='*')}}"><abbr title="Clique aqui para ver demandas desta pessoa">{{demanda.username}}</abbr></a>
          <p>Em: {{demanda.data.strftime('%x')}}</p>
            {% if demanda.necessita_despacho == True %}
              <h5 class="text-warning">Aguarda despacho
                {% if demanda.data_env_despacho != None %}
                  desde {{demanda.data_env_despacho.strftime('%x')}}
                {% endif %}
              </h5>
            {% endif %}
            {% if demanda.necessita_despacho_cg == True %}
              <h5 class="text-info">Aguarda despacho CG ou sup.
                {% if demanda.data_env_despacho != None %}
                  desde {{demanda.data_env_despacho.strftime('%x')}}
                {% endif %}
              </h5>
            {% endif %}
            {% if demanda.conclu == False %}
              <h5>Em andamento</h5>
            {% else %}
              <h5 class="text-success">Concluído em {{demanda.data_conclu.strftime('%x')}}</h5>
            {% endif %}
          <a href="{{url_for('demandas.demanda',demanda_id=demanda.id)}}" class="card-link">Ler a demanda</a>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card bg-light mb-3">
        <div class="card-header">Providências e Despachos</div>
        <div class="card-body">
          <div class="list-group">
          {% for item in pro_des %}
            {% if item.demanda_id == demanda.id %}
              <div class="list-group-item list-group-item-action">
                <p class="card-text">{{item.texto}}</p>
                {% if item.username[-8:-1] == 'DESPACH' %}
                  {% if item.despacha2 == True and item.despacha == False %}
                    <p class="card-text"><small class="text-muted"> {{item.data.strftime('%x')}}
                      <span class="text-danger"><b>({{item.username}})</b></span></small></p>
                  {% else %}
                    <p class="card-text"><small class="text-muted"> {{item.data.strftime('%x')}}
                      <span class="text-success"><b>({{item.username}})</b></span></small></p>
                  {% endif %}
                {% else %}
                  <p class="card-text">
                  {% if item.programada == True %}
                  <small><b>P</b></small>
                  {% endif %}
                  <small class="text-muted"> {{item.data.strftime('%x')}}
                    <span class="text-info">({{item.username}})</span></small></p>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        </div>
      </div>
    </div>

    </div>

    <div class="row">
      <p>...</p>
    </div>


  {% endfor %}
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

    {% for page_num in demandas.iter_pages(left_edge=1,left_current=1,right_current=2,right_edge=1) %}
      {% if page_num %}
        {% if demandas.page == page_num %}
          <li class="page-item active">
              <a class="page-link" href="{{url_for('demandas.list_demandas',page=page_num)}}">{{page_num}}</a>
          </li>
        {% else %}
          <li class="page-item">
              <a class="page-link" href="{{url_for('demandas.list_demandas',page=page_num)}}">{{page_num}}</a>
          </li>
        {% endif %}
      {% else %}
        <span class="page-link">…</span>
      {% endif %}

    {% endfor %}
  </ul>
</nav>

{% endblock %}
