{% extends "template_gov.html" %}
{% block content %}


  <div class="col mb-5">
    <div class="br-breadcrumb">
      <ul class="crumb-list">
        <li class="crumb home"><a class="br-button circle" href="{{url_for('core.inicio')}}"><span class="sr-only">Página inicial</span><i class="fa fa-home"></i></a></li>
        <!-- <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior</a></li>
        <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior2</a></li>
        <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior3</a></li>
        <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior4</a></li> -->
        <li class="crumb" data-active="active"><i class="icon fa fa-chevron-right"></i><span>Ações relacionadas ao envio de dados</span>
        </li>
      </ul>
    </div>
  </div>


  {% if current_user.is_authenticated and current_user.userAtivo and current_user.userEnvia %} 
    <div class="row mt-5">
      <div class="d-flex justify-content-center  flex-wrap">
    
        {% with 
          icon="fa-folder", 
          title="Planos a enviar",
          description="Os planos listados nesta opção são aqueles que na situação 'Executados', com, pelo menos, uma atividade
          avaliada e que nunca foram enviados anteriormente. É possível o envio individual.",
          link=url_for('envio.lista_a_enviar')
        %}
          {% include "card_menu.html" %}
        {% endwith %}

        {% with 
          icon="fa-cloud", 
          title="Planos enviados",
          description="Os planos que já foram enviados em algum momento, sendo possível o reenvio individual.",
          link=url_for('envio.lista_enviados')
        %}
          {% include "card_menu.html" %}
        {% endwith %}

        {% with 
          icon="fa-play", 
          title="Agendar envio",
          description="Pode-se agendar envio de todos os planos (passíveis de envio e já enviados), ou somente dos planos 
          passíveis de envio. O agendamento é restrito ao intervalo das 20:00 às 03:59, nas opções 'Diária',
          'Semanal' e 'Mensal'.",
          link=url_for('envio.agenda_envio',inst=current_user.instituicaoId)
        %}
          {% include "card_menu.html" %}
        {% endwith %}

        {% with 
          icon="fa-address-book", 
          title="Diário dos envios",
          description="Recorte do diário do sistema com as informações relacionadas ao envio. Aqui, quando do envio agendado,
          não são mostrados os envios individuais, somente os quantitativos com sucesso e com erro.",
          link=url_for("usuarios.log",tipo="envio")
        %}
          {% include "card_menu.html" %}
        {% endwith %}

        {% with 
          icon="fa-magnifying-glass", 
          title="Pesquisa Planos",
          description="Permite procurar planos aptos ao envio (enviados e não enviados), 
          conforme critérios de pesquisa.",
          link=url_for("envio.pesquisa_planos")
        %}
          {% include "card_menu.html" %}
        {% endwith %}
        
      </div>
    </div>
  
  {% else %}

    <h1>Usuário sem permissão!</h1>

  {% endif %}



{% endblock %}
