{% extends "template_gov.html" %}
{% block content %}

<div class="col mb-5">
  <div class="br-breadcrumb">
    <ul class="crumb-list">
      <li class="crumb home"><a class="br-button circle" href="{{url_for('core.index')}}"><span class="sr-only">Página inicial</span><i class="fa fa-home"></i></a></li>
      <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="{{url_for('envio.envio_i')}}">Envio</a></li>
      <!-- <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior2</a></li>
      <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior3</a></li>
      <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior4</a></li> --> 
      <li class="crumb" data-active="active"><i class="icon fa fa-chevron-right"></i><span>Agendamento</span>
      </li>
    </ul>
  </div>
</div>


  <div class="jumbotron">

    <div class="row">
      <div class="col">
        {% if job_agendado %}
          <h5><b>Reagendamento de envio de Planos    <h6>(Destino: {{'APIPGDME_URL'|verifica_serv_bd}})</h6></b></h5>
          <h6>Agendamento atual: <b>{{ prox_exec_envio.strftime('%d/%m/%Y %H:%M:%S') }}</b></h6>
        {% else %}
          <h5><b>Agendamento do envio de Planos     <h6>(Destino: {{'APIPGDME_URL'|verifica_serv_bd}})</h6></b></h5>
        {% endif %}  
      </div>
    </div>

      {% macro render_field(field,obr) %}
        {% if obr == True %}
          <dt>{{ field.label(class="form-control-label") }}<span class="text-danger font-weight-bold">*</span>
        {% else %}
          <dt>{{ field.label(class="form-control-label") }}
        {% endif %}
        <dd>{{ field(**kwargs)|safe }}
        {% if field.errors %}
          <ul class=errors>
          {% for error in field.errors %}
            <li><span class="text-danger font-weight-bold">{{ error }}</span></li>
          {% endfor %}
          </ul>
        {% endif %}
        </dd>
    {% endmacro %}

    <form class="needs-validation" method='POST' >
      {{ form.hidden_tag() }}
      
    <br>

    <div class="row">
      <div class="form-group col-4">
        {{ render_field(form.tipo,class="form-control", obr=True) }}
      </div>

      <div class="form-group col-3">
        {{ render_field(form.periodicidade,class="form-control", obr=True) }}
      </div>

      <div class="form-group col-2">
        {{ render_field(form.hora,class="form-control", obr=True) }}
      </div>

      <div class="form-group col-2">
        {{ render_field(form.minuto,class="form-control", obr=True) }}
      </div>
    </div>  

    <div class="form-group"><span class="small"> Campos com <span class="text-danger font-weight-bold">*</span> são obrigatórios.</span></div>

      <br>
      <div class="form-group">
        {{ form.submit(class="br-button secondary mr-3") }}
      </div>



  </div>


{% endblock %}
