{% extends "template_gov.html" %}
{% block content %}

<div class="col mb-5">
  <div class="br-breadcrumb">
    <ul class="crumb-list">
      <li class="crumb home"><a class="br-button circle" href="{{url_for('core.inicio')}}"><span class="sr-only">Página inicial</span><i class="fa fa-home"></i></a></li>
      <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="{{url_for('envio.envio_i')}}">Envio</a></li>
      <li class="crumb" data-active="active"><i class="icon fa fa-chevron-right"></i><span>Resultado pesquisa</span>
      </li>
    </ul>
  </div>
</div>

<div class="card">

  <div class="card-header">
    <div class="d-flex flex-column">

      <h5 class="header-list"><b>Lista de Planos pesquisados, aptos ao envio, conforme LOG deste sistema.
         <h6>(Destino: {{'APIPGDME_URL'|verifica_serv_bd}})</h6> </b>
      </h5>
      <p>
        <span class="badge text-bg-success">{{demandas_count}}</span> plano(s) executados e com horas homologadas.
      </p>

      <div class="d-flex justify-content-around">
      </div>
    </div>
  </div>

  <div class="card-body">
    <table id="table"
          data-toggle="table"
          data-filter-control="true"
          data-show-search-clear-button="true"
          data-sortable="true"
          classes="table-sm"
          data-show-columns="true"
          data-show-columns-toggle-all="true"
          class="table table-striped table-hover table-sm">
      <caption>Planos de Trabalho</caption>
      <thead>
        <tr>
          <th scope="col"><p align = "center">#</p></th>
          <th scope="col" data-field="Unidade" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Termo de pesquisa..."><p align = "center">Unidade</p></th>
          <th scope="col" data-field="Pessoa" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Termo de pesquisa..."><p align = "center">Pessoa</p></th>
          <th scope="col" data-sortable="true"><p align = "center">Início</p></th>
          <th scope="col" data-sortable="true"><p align = "center">Fim</p></th>
          <th scope="col" data-field="Forma" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Termo de pesquisa..."><p align = "center">Forma</p></th>
          <th scope="col" data-field="Enviado" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Termo de pesquisa..."><p align = "center">Enviado?</p></th>
          <th scope="col"><p align = "center"><abbr title="Enviar plano específico.">Ação</abbr></p></th>
        </tr>
      </thead>

      <tbody>
        {% for demanda in demandas %}
          <tr>
            <th scope="row"><p align = "center"> {{demandas.index(demanda) + 1}} </p></th>
            <td><p align = "center"> {{demanda.sigla_unidade_exercicio}} </p></td>
            <td>
              <p align = "center">
                {% if demanda.sit_envio == 'n_enviado' %}
                  {% set erro = namespace(msg = None) %}
                  {% for item in l_log_erro_envio %}
                    {% if demanda.id_pacto in item[0] %}
                      {% set erro.msg = item[1] %}
                    {% endif %}  
                  {% endfor %}
                  {% if erro.msg != None %}
                    <abbr title="{{erro.msg}}"><span class="text-danger">{{demanda.nome_participante}}</span></abbr>
                  {% else %}
                    {{demanda.nome_participante}}
                  {% endif %}
                {% else %}
                  {{demanda.nome_participante}}
                {% endif %}  
              </p>
            </td>
            <td><p align = "center"> {{demanda.data_inicio.strftime('%d/%m/%Y')}} </p></td>
            <td><p align = "center"> {{demanda.data_fim.strftime('%d/%m/%Y')}} </p></td> 
            <td><p align = "center">
              {% for forma in formas %}
                {% if demanda.modalidade_execucao + 100 == forma.catalogoDominioId %} 
                  {{ forma.descricao }}
                {% endif %}  
              {% endfor %}
            <td><p align = "center">
                  {% if demanda.sit_envio == 'enviado' %} 
                    Sim 
                  {% else %}
                    Não 
                  {% endif %} 
                </p>
            </td>  
            </p></td>
            <td><p align = "center"> <a class="" href="{{url_for('envio.enviar_um_plano',plano_id=demanda.id_pacto,lista=lista)}}">
                {% if demanda.sit_envio == 'n_enviado' %} Enviar {% else %} Reenviar {% endif %}</a> </p></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

</div>


{% endblock %}
