{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  
  <div class = "row">
    <div class="col-2">
      <h5>Lista das Unidades {% if lista == 'ativas' %} Ativas {% elif lista == 'todas' %} Ativas e Inativas {% endif %}</h5>
    </div>
    <div class="col">
      <a class="nav-link" href="{{url_for('unidades.lista_unidades',lista='todas')}}">(Ver todas as Unidades)</a>
    </div>
  </div>

  <div class = "row">
    <div class="col-1">
      <a href="{{url_for('unidades.cria_unidade')}}" class="btn btn-primary active" role="button" aria-pressed="true">Inserir nova</a>
    </div>
    <div class="col">
      <small class="form-text text-muted"> Ou clique em um número de sequência para ver e atualizar dados da unidade.</small>
    </div>
  </div>
  <br>

<caption>
  <div class="row">
      <div class="col">
        <p>Lista das <span class="badge badge-pill badge-primary">{{quantidade}}</span> unidades da Instituição</p>
      </div>
  </div>
</caption>

<div style="overflow-y:auto ; height:450px">
  <table id="table"
        data-toggle="table"
        data-filter-control="true"
        data-show-search-clear-button="true"
        data-sortable="true"
        classes="table-sm"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        class="table table-striped table-hover table-sm">
    <caption>Unidades da Instituição</caption>
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Sigla</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Descrição</p></th>
        <th scope="col" data-field="Sigla_Pai" data-filter-control="input" data-sortable="true"><p align = "center">Pai</p></th>
        <th scope="col" data-field="tipoUnidadeId" data-filter-control="input" data-sortable="true"><p class = "text-muted" align = "center">Tipo</p></th>
        <th scope="col" data-field="situacaoUnidadeId" data-filter-control="input" data-sortable="true"><p align = "center">Situação</p></th>
        <th scope="col" data-field="ufId" data-filter-control="input" data-sortable="true"><p align = "center">UF</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Nível</p></th>
        <th scope="col" data-sortable="true"><p class = "text-muted" align = "center">TipoFunc</p></th>
        <th scope="col" data-sortable="true"><p align = "center">E-mail</p></th>
        <th scope="col" data-sortable="true"><p align = "center">SIORG</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Chefe</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Substituto</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Pessoas (niv. 0)</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Pessoas (hierarq.)</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Atividades</p></th>
      </tr>
    </thead>
    <tbody>
      {% for u in unids %}

      <tr>
        <th scope="row"><abbr title="Acrescentar dados à Unidade.">
          <p align = "center"><a href="{{url_for('unidades.unidade_update', cod_unid=u.unidadeId)}}"> {{unids.index(u) + 1}} </a>
        </p></th>
        <td><p align = "center"> {{u.undSigla}} </p></td>
        <td><p align = "center"> {{u.undDescricao}} </p></td>
        <td><p align = "center"> {{u.Sigla_Pai}} </p></td>
        <td><p class = "text-muted" align = "center"> 
          {% if  u.tipoUnidadeId in dic_tipo_unidade.keys() %}
            {{dic_tipo_unidade[u.tipoUnidadeId]}} 
          {% else %}
            {{u.tipoUnidadeId}}
          {% endif %}
        </p></td>
        <td><p class = "text-muted" align = "center"> 
          {% if  u.situacaoUnidadeId in dic_situ_unidade.keys() %}
            {{dic_situ_unidade[u.situacaoUnidadeId]}} 
          {% else %}
            {{u.situacaoUnidadeId}}
          {% endif %}
        <td><p align = "center"> {{u.ufId}} </p></td>
        <td><p align = "center"> {% if u.undNivel == None %}N.I.{% else %}{{u.undNivel}}{% endif %} </p></td>
        <td><p class = "text-muted" align = "center"> {% if u.tipoFuncaoUnidadeId == None %}N.I.{% else %}{{u.tipoFuncaoUnidadeId}}{% endif %} </p></td>
        <td><p align = "center"> {% if u.Email == None or u.Email == '' %}N.I.{% else %}{{u.Email}}{% endif %} </p></td>
        <td><p align = "center"> {% if u.undCodigoSIORG == 0 %}N.I.{% else %}{{u.undCodigoSIORG}}{% endif %} </p></td>
        <td><p align = "center"> {% if u.Chefe == None or u.Chefe == '' %}N.I.{% else %}{{u.Chefe}}{% endif %} </p></td>
        <td><p align = "center"> {% if u.Subs == None or u.Subs == '' %}N.I.{% else %}{{u.Subs}}{% endif %} </p></td>
        <td><p align = "center"> <abbr title="Clique aqui para ver as pessoas diretamente vinculadas à unidade.">
          <a href="{{url_for('pessoas.lista_pessoas_unid', unid=u.undSigla)}}"> 
          {% if u.qtd_pes == None or u.qtd_pes == '' %}<span class="text-danger">0</span>{% else %}{{u.qtd_pes}}{% endif %} </a></abbr></p></td>
        
        <td><p align = "center"> <abbr title="Clique aqui para ver as pessoas sob a unidade, considerando a hierarquia desta.">
          <a href="{{url_for('pessoas.lista_pessoas_unid', unid=tree[u.undSigla])}}"> 
           {{qtd_geral[u.undSigla]}} </a></abbr></p></td>

        <td><p align = "center"> {% if u.qtd_ativs == None %}0{% else %}
          <a href="{{url_for('unidades.lista_atividades_unidade', unid_id=u.unidadeId)}}"> {{u.qtd_ativs}} </a>
          {% endif %} </p></td>
      </tr>

      {% endfor %}

    </tbody>
  </table>

</div>

</div>



{% endblock %}
