{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  
  <h5>Lista das Unidades</h5>

  <div class = "row">
    <div class="col-1">
      <a href="{{url_for('unidades.cria_unidade')}}" class="btn btn-primary active" role="button" aria-pressed="true">Inserir nova</a>
    </div>
    <div class="col">
      <small class="form-text text-muted"> Ou clique em um número de sequência para ver e atualizar dados da unidade.</small>
    </div>
  </div>
  <br>

<caption>
  <div class="row">
      <div class="col">
        <p>Lista das <span class="badge badge-pill badge-primary">{{quantidade}}</span> unidades da Instituição</p>
      </div>
  </div>
</caption>

<div style="overflow-y:auto ; height:450px">
  <table class="table table-striped table-hover table-sm">
    <caption>Unidades da Instituição</caption>
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col"><p align = "center">Sigla</p></th>
        <th scope="col"><p align = "center">Descrição</p></th>
        <th scope="col"><p align = "center">Pai</p></th>
        <th scope="col"><p class = "text-muted" align = "center">Tipo</p></th>
        <th scope="col"><p align = "center">Situação</p></th>
        <th scope="col"><p align = "center">UF</p></th>
        <th scope="col"><p align = "center">Nível</p></th>
        <th scope="col"><p class = "text-muted" align = "center">TipoFunc</p></th>
        <th scope="col"><p align = "center">E-mail</p></th>
        <th scope="col"><p align = "center">SIORG</p></th>
        <th scope="col"><p align = "center">Chefe</p></th>
        <th scope="col"><p align = "center">Substituto</p></th>
      </tr>
    </thead>
    <tbody>
      {% for u in unids %}

      <tr>
        <th scope="row"><abbr title="Acrescentar dados à Unidade.">
          <p align = "center"><a href="{{url_for('unidades.unidade_update', cod_unid=u.unidadeId)}}"> {{unids.index(u) + 1}} </a>
        </p></th>
        <td><p align = "center"> <abbr title="Clique aqui para ver as pessoas da unidade.">
          <a href="{{url_for('pessoas.lista_pessoas_unid', unid=u.undSigla)}}"> {{u.undSigla}} </a></abbr></p></td>
        <td><p align = "center"> {{u.undDescricao}} </p></td>
        <td><p align = "center"> {{u.Sigla_Pai}} </p></td>
        <td><p class = "text-muted" align = "center"> {{lista_tipo_unidade[u.tipoUnidadeId-1][1]}} </p></td>
        <td><p align = "center"> {{lista_situ_unidade[u.situacaoUnidadeId-1][1]}} </p></td>
        <td><p align = "center"> {{u.ufId}} </p></td>
        <td><p align = "center"> {% if u.undNivel == None %}N.I.{% else %}{{u.undNivel}}{% endif %} </p></td>
        <td><p class = "text-muted" align = "center"> {% if u.tipoFuncaoUnidadeId == None %}N.I.{% else %}{{u.tipoFuncaoUnidadeId}}{% endif %} </p></td>
        <td><p align = "center"> {% if u.Email == None or u.Email == '' %}N.I.{% else %}{{u.Email}}{% endif %} </p></td>
        <td><p align = "center"> {% if u.undCodigoSIORG == 0 %}N.I.{% else %}{{u.undCodigoSIORG}}{% endif %} </p></td>
        <td><p align = "center"> {% if u.pessoaIdChefe == None %}N.I.{% else %}{{u.Chefe}}{% endif %} </p></td>
        <td><p align = "center"> {% if u.pessoaIdChefeSubstituto == None %}N.I.{% else %}{{u.Subs}}{% endif %} </p></td>
      </tr>

      {% endfor %}

    </tbody>
  </table>

</div>

</div>
{% endblock %}
