{% extends "base.html" %}
{% block content %}
<div class="container">

<div class="jumbotron">
<h1>Inserir/Alterar Chamada Homologada</h1>

{% macro render_field(field,obr) %}
  {% if obr == True %}
    <dt>{{ field.label(class="form-control-label") }}<span class="text-danger font-weight-bold">*</span>
  {% else %}
    <dt>{{ field.label(class="form-control-label") }}
  {% endif %}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li><span class="text-danger font-weight-bold">{{ error }}</span></li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

<form class="needs-validation" method='POST' >
  {{ form.hidden_tag() }}


  <div class="form-group">
    {{ render_field(form.sei,class="form-control", placeholder="Entre com o NUP",obr=True) }}
  </div>

  <div class="form-group">
    {{ render_field(form.chamada,class="form-control",obr=True) }}
  </div>

  <div class="form-row">
      <div class="col">
        <div class="form-group">
          {{ render_field(form.qtd_projetos,class="form-control",obr=True) }}
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          {{ render_field(form.vl_total_chamada,class="form-control",obr=True) }}
        </div>
      </div>
    </div>

  <div class="form-group">
    {{ render_field(form.doc_sei,class="form-control",obr=True) }}
  </div>
  <div class="form-group">
    {{ form.obs.label }}
    {{ form.obs(class="form-control") }}
  </div>

  <div class="form-group">
    {{ form.submit(class="btn btn-primary") }}<span class="text-muted"> Atenção: campos marcados com * são obrigatórios.</span>
  </div>

</div>
</div>

{% endblock %}
