{% extends "base.html" %}
{% block content %}
<div class="jumbotron">


    <div>
      {% if current_user.is_authenticated %}
      <div class="row">
        <div class="col-1">
          <a href="{{url_for('convenios.cria_SEI', conv='*')}}" class="btn btn-primary active" role="button" aria-pressed="true">Inserir SEI</a>
        </div>
        <div class="col">
          <span><small class="form-text text-muted">Ou clique em um número de sequência para alterar dados SEI do respectivo convênio.</small></span>
        </div>
        <div class="col">
          <a href="{{url_for('convenios.demandas_UF', programa=programa,filtro='*', uf=uf)}}" class="btn btn-info" role="button" aria-pressed="true">Demandas relacionadas</a>
        </div>
      </div>
      {% endif %}
      <small class="form-text text-muted">Clique no NUP SEI para ver as demandas relacionadas ao processo.</small>
      <small class="form-text text-muted">Clique no nº do convênio para ver os detalhes.</small>
    </div>

  <br>

<caption>
  <div class="row">
      <div class="col">
        <p>Lista dos <span class="badge badge-pill badge-primary">{{quantidade}}</span> convênios
          de {{uf}}
          <b>{% if programa != 'todos' %}
            no programa {{programa}}
          {% endif %}</b>
          cadastrados no SICONV
        </p>
      </div>
      <div class="col">
        <p align="right"><span class="text-secondary">Dados de </span>
          <span class="badge badge-pill badge-info">{{data_carga[8:]+'/'+data_carga[5:7]+'/'+data_carga[0:4]}}</span></p>
      </div>
  </div>
</caption>

  <table class="table table-striped table-hover table-sm">
    <caption>Convênios</caption>
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col"><p align = "center">Convênio</p></th>
        <th scope="col"><p align = "center">Ano</p></th>
        <th scope="col"><p align = "center"><abbr title="Clique no NUP para ver as demandas do processo.">SEI</abbr></p></th>
        <th scope="col"><p align = "center">EPE</p></th>
        <th scope="col"><p align = "center">UF</p></th>
        <th scope="col"><p align = "center">Programa</p></th>
        <th scope="col"><p align = "center">Situação</p></th>
        <th scope="col"><p align = "center">Subsituação</p></th>
        <th scope="col"><p align = "center"><abbr title="Vermelho: vence em menos de 30 dias. Laranja: vence em menos de 60 dias. Cinza: vence em menos de 90 dias.">Final de Vigência</p></th>
        <th scope="col"><p align = "center">Valor Global</p></th>
      </tr>
    </thead>

    <tbody>

      {% for conv in convenio %}

      <tr>
        <th scope="row"><p align = "center">
                          {% if (convenio.index(conv) + 1) <= quantidade %}
                            {% if conv[11] != None%}
                              <a href="{{url_for('convenios.update_SEI', SEI_id=conv[11])}}"><abbr title="Clique aqui atualizar"> {{convenio.index(conv) + 1}} </abbr></a>
                            {% else %}
                              {{convenio.index(conv) + 1}}
                            {% endif %}
                          {% endif %}
                        </p></th>
        {% if conv[3] != None%}
          <td><p align = "center"> <a href="{{url_for('convenios.convenio_detalhe', conv=conv[0])}}"> <abbr title="Clique aqui para ver detalhes do convênio">{{conv[0]}} </abbr></a> </p></td>
        {% else %}
          <td><p align = "center"> {{conv[0]}} </p></td>
        {% endif %}
        <td><p align = "center"> {{conv[2]}} </p></td>
        {% if conv[3] != None%}
          <td><p align = "center"> <a href="{{url_for('convenios.SEI_demandas', conv=conv[0])}}"><abbr title="Clique aqui para ver as demandas deste processo">{{conv[3]}}</abbr></a> </p></td>
        {% else %}
          <td><p align = "center"> {{conv[3]}} </p></td>
        {% endif %}
        <td><p align = "center"> {{conv[4]}} </p></td>
        <td><p align = "center"> {{conv[5]}} </p></td>
        <td><p align = "center"> {{conv[6]}} </p></td>
        <td><p align = "center"> {{conv[7]}} </p></td>
        <td><p align = "center"> {{conv[8]}} </p></td>
        {% if conv[12] <= 30 and conv[12] >= 0 %}
          <td><p align = "center" class="bg-danger text-white font-weight-bold"> {{conv[9]}} </p></td>
        {% elif conv[12] <= 60 and conv[12] > 30 %}
          <td><p align = "center" class="bg-warning text-dark font-weight-bold"> {{conv[9]}} </p></td>
        {% elif conv[12] <= 90 and conv[12] > 60 %}
          <td><p align = "center" class="bg-secondary text-white font-weight-bold"> {{conv[9]}} </p></td>
        {% else %}
          <td><p align = "center"> {{conv[9]}} </p></td>
        {% endif %}
        <td><p align = "center"> {{conv[10]}} </p></td>
      </tr>

      {% endfor %}
    </tbody>

  </table>



</div>
{% endblock %}
