{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<caption>
  <div class="row">
      <div class="col">
        <h5>Lista das mensagens do SICONV <small>(Registros novos, descrição aparece em vermelho)</small></h5>
        <small class="form-text text-muted">Atente para a data dos dados. Infelizmente, o procedimento de obtenção ainda é manual.</small>
      </div>
      <div class="col">
        <p align="right"><span class="text-secondary">Dados de </span>
          <span class="badge badge-pill badge-info">{{data_ref.strftime('%x')}}</span></p>
      </div>
  </div>
</caption>

<div class="container">
  <table class="table table-striped table-hover table-sm">
    <caption>Mensagens SICONV</caption>
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col"><p align = "center">Programa</p></th>
        <th scope="col"><p align = "center">Descrição</p></th>
        <th scope="col"><p align = "center">EPE</p></th>
        <th scope="col"><p align = "center">UF</p></th>
        <th scope="col"><p align = "center"><abbr title="Clique no número do convênio para ver detalhes.">Convênio</abbr></p></th>
        <th scope="col"><p align = "center"><abbr title="Clique no NUP para ver as demandas do processo.">SEI</abbr></p></th>
        <th scope="col"><p align = "center">Situação</p></th>
      </tr>
    </thead>

    <tbody>

      {% for msg in msgs %}

      <tr>
        <th scope="row"><p align = "center">{{msgs.index(msg) + 1}}</p></th>
        <td><p align = "center"> {{msg.programa}} </p></td>
        {% if msg.sit == 'n'%}
          <td><p align = "center" class="text-danger"> {{msg.desc}} </p></td>
        {% else %}
          <td><p align = "center"> {{msg.desc}} </p></td>
        {% endif %}
        <td><p align = "center"> {{msg.epe}} </p></td>
        <td><p align = "center"> {{msg.uf}} </p></td>
        <td><p align = "center"> <a href="{{url_for('convenios.convenio_detalhe', conv=msg.nr_convenio)}}"> <abbr title="Clique aqui para ver detalhes do convênio">{{msg.nr_convenio}} </abbr></a> </p></td>
        {% if msg.sei != None%}
          <td><p align = "center"> <a href="{{url_for('convenios.SEI_demandas', conv=msg.nr_convenio)}}"><abbr title="Clique aqui para ver as demandas deste processo">{{msg.sei}}</abbr></a> </p></td>
        {% else %}
          <td><p align = "center"> {{msg.sei}} </p></td>
        {% endif %}
        <td><p align = "center"> {{msg.SIT_CONVENIO}} </p></td>
      </tr>

      {% endfor %}
    </tbody>

  </table>

</div>

</div>
{% endblock %}
