{% extends "base.html" %}
{% block content %}

<!-- <div class="container bg-light"> -->


<caption>
  <div class="row">
      <div class="col-8">
        <p>Quadro dos convênios das <span class="badge badge-pill badge-primary">{{quantidade}}</span>
          UFs (Quantidade de convênios e valor global acumulado)
        </p>
      </div>
      <div class="col">
        <p align="right"><span class="text-secondary">Dados de </span>
          <span class="badge badge-pill badge-info">{{data_carga[8:]+'/'+data_carga[5:7]+'/'+data_carga[0:4]}}</span></p>
      </div>
  </div>
</caption>

<div class="container-fluid bg-light">
  <div class="table-responsive">
  <table class="table table-bordered table-sm">
    <caption>Convênios</caption>
    <thead>
      <tr>
        <th scope="col" class="border border-dark"><p align = "center">UF</p></th>
        {% for programa in programas %}
          <th scope="col" colspan="2" class="border border-dark">
            <p align = "center">
              {{programa[0]}}</p></th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>

      {% for linha in linhas %}
        <tr>
          <th scope="row" class="border border-dark"><p align = "center">
            <a href="{{url_for('convenios.lista_convenios_uf', uf=linha[0][3])}}"> {{linha[0][3]}} </a></p></th>
          {% for item in linha %}
            <td class="border border-dark border-right-0">
              <div style="text-align: center;">
                <a href="{{url_for('convenios.lista_convenios_quadro', uf=item[3], programa=item[1])}}">
                <span class="font-weight-bold">{{item[0]}}</span> </a>
                <br>
                <span>{% if item[2] != '' %}R${% endif %} {{item[2]}}</span>
              </div>
            </td>
            <td class="border border-dark border-left-0"> </td>
          {% endfor %}
        </tr>
      {% endfor %}

    </tbody>

  </table>
</div>
</div>

<!-- </div> -->

{% endblock %}
