{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h5>Lista das Modalidades de Bolsa</h5>

  {% if current_user.is_authenticated %}
    <div>
      <a href="{{url_for('bolsas.cria_bolsa')}}" class="btn btn-primary active" role="button" aria-pressed="true">Inserir nova</a>
      <small class="form-text text-muted">Ou clique em um número de sequência para alterar dados da respectiva bolsa.</small>
    </div>
  {% endif %}
  <br>

  <caption>
    <div class="row">
        <div class="col">
          <p>Lista das <span class="badge badge-pill badge-primary">{{quantidade}}</span> bolsas cadastradas</p>
        </div>
    </div>
  </caption>

<div class="container">
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col"><p align = "center">Modalidade</p></th>
        <th scope="col"><p align = "center">Nível</p></th>
        <th scope="col"><p align = "center">Valor Mensalidade</p></th>
        <th scope="col"><p align = "center">Valor Auxílios</p></th>
      </tr>
    </thead>
    <tbody>

      {% for bolsa in bolsas_s %}

      <tr>
        <th scope="row"><p align = "center">
                          {% if (bolsas_s.index(bolsa) + 1) <= quantidade %}
                            <a href="{{url_for('bolsas.update', bolsa_id=bolsa[0])}}">{{bolsas_s.index(bolsa) + 1}}</a>
                          {% endif %}
                        </p></th>
        <td><p align = "center"> {{bolsa[1]}}</p></td>
        <td><p align = "center"> {{bolsa[2]}}</p></td>
        <td><p align = "right"> {{bolsa[3]}}</p></td>
        <td><p align = "right"> {{bolsa[4]}}</p></td>
      </tr>

      {% endfor %}

    </tbody>
  </table>
</div>
</div>
{% endblock %}
