<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>button</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="../../assets/styles/dsgov-base.min.css">
  <link rel="stylesheet" href="button.css">
</head>
<body>
  <div class="container-fluid">
    <button class="br-button is-primary" type="button">Entrar</button>
    <button class="br-button is-secondary" type="button">Cadastrar</button>
    <button class="br-button is-tertiary" type="button">Adicionar</button>
    <button class="br-button is-cancel" type="button">Cancelar</button>
    <hr>
    <button class="br-button is-primary" type="button">
      <span>Entrar com</span>
      <strong class="ml-half">gov.br</strong>
    </button>
    <button class="br-button is-secondary" type="button">
      <span>Entrar com</span>
      <strong class="ml-half">gov.br</strong>
    </button>
    <hr>
    <button class="br-button is-primary is-circle" type="button">
      <i class="fas fa-chevron-up"></i>
    </button>
    <button class="br-button is-secondary is-circle" type="button">
      <i class="fas fa-chevron-down"></i>
    </button>
    <button class="br-button is-social-media is-facebook" type="button">
      <i class="fab fa-facebook-f fa-lg"></i>
    </button>
    <button class="br-button is-social-media is-twitter" type="button">
      <i class="fab fa-twitter fa-lg"></i>
    </button>
    <button class="br-button is-call-to-action" type="button">Solicitar</button>
    <button class="br-button is-go-top" type="button">
      Voltar ao topo
      <span class="br-button is-circle is-primary">
        <i class="fas fa-chevron-up"></i>
      </span>
    </button>
    <button class="br-button is-filter" type="button">
      Filtrar
      <i class="fas fa-sliders-h"></i>
    </button>
    <hr>
    <button class="br-button is-primary is-loading" type="button">Entrar</button>
    <button class="br-button is-secondary is-loading" type="button">Cadastrar</button>
    <button class="br-button is-primary is-circle is-loading" type="button">
      <i class="fas fa-chevron-up"></i>
    </button>
    <button class="br-button is-secondary is-circle is-loading" type="button">
      <i class="fas fa-chevron-down"></i>
    </button>
    <button class="br-button is-call-to-action is-loading" type="button">Solicitar</button>
  </div>
</body>
</html>
