{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<h5>Lista de Instrumentos</h5>

  {% if current_user.is_authenticated %}
    <div>
      <div class="row">
        <div class="col-1">
          <a href="{{url_for('instrumentos.cria_instrumento')}}" class="btn btn-primary active" role="button" aria-pressed="true">Inserir novo</a>
        </div>
        <div class="col">
          <small class="form-text text-muted">Ou clique em um número de sequência para alterar dados do respectivo instrumento.</small>
        </div>

  {% endif %}
        <div class="col">
          <form class="form-group" method='POST'>
            {{ form.hidden_tag() }}
              <div class="row">
                <div class="col">
                  {{ form.coord(class="form-control form-control-sm") }}
                </div>
                <div class="col">
                  {{ form.submit(class="btn btn-outline-primary btn-sm") }}
                </div>
              </div>
          </div>
      </div>
<br>

<caption>
  <div class="row">
      <div class="col">
        <p>Lista dos <span class="badge badge-pill badge-primary">{{quantidade}}</span>
          <span class="font-weight-bold">Instrumentos</span> cadastrados
          {% if lista == 'todos' %}
            <span class="text-info font-weight-bold">(todos)</span>
          {% endif %}
          {% if lista == 'em execução' %}
            <span class="text-info font-weight-bold">(vigentes)</span>
          {% endif %}
      </p>
      </div>

  </div>
</caption>

  <table class="table table-striped table-hover table-sm">
    <caption>Instrumentos</caption>
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col"><p align = "center">Coord.</p></th>
        <th scope="col"><p align = "center">Título</p></th>
        <th scope="col"><p align = "center">Contraparte</p></th>
        <th scope="col"><p align = "center">SEI</p></th>
        <th scope="col"><p align = "center">Início</p></th>
        <th scope="col"><p align = "center">Término</p></th>
        <th scope="col"><p align = "center">Valor</p></th>

      </tr>
    </thead>
    <tbody>
      {% for instrumento in instrumentos %}

      <tr>
        <th scope="row"><p align = "center">
          {% if (instrumentos.index(instrumento) + 1) <= quantidade %}
            <a href="{{url_for('instrumentos.update', instrumento_id=instrumento[0])}}"><abbr title="Clique aqui atualizar">{{instrumentos.index(instrumento) + 1}}</abbr></a>
          {% endif %}
        </p></th>
        <td><p align = "center"><small> {{instrumento[1]}}</small></p></td>
        <td><p align = "center"><small> {{instrumento[2]}}</small></p></td>
        <td><p align = "center"><small> {{instrumento[3]}}</small></p></td>
        {% if instrumento[4] != None%}
          <td><p align = "center"> <a href="{{url_for('instrumentos.instrumento_demandas', instrumento_id=instrumento[0])}}"><abbr title="Clique aqui para ver demandas deste instrumento"><small> {{instrumento[4]}} </small></abbr></a> </p></td>
        {% else %}
          <td><p align = "center"><small> {{instrumento[4]}}</small></p></td>
        {% endif %}
        <td><p align = "center"><small> {{instrumento[5]}}</small></p></td>
        {% if instrumento[8] <= 30 and instrumento[8] >= 0 %}
          <td><p align = "center" class="bg-danger text-white font-weight-bold"><small> {{instrumento[6]}}</small> </p></td>
        {% elif instrumento[8] <= 60 and instrumento[8] > 30 %}
          <td><p align = "center" class="bg-warning text-dark font-weight-bold"><small> {{instrumento[6]}}</small> </p></td>
        {% elif instrumento[8] <= 90 and instrumento[8] > 60 %}
          <td><p align = "center" class="bg-secondary text-white font-weight-bold"><small> {{instrumento[6]}}</small> </p></td>
        {% else %}
          <td><p align = "center"> <small> {{instrumento[6]}}</small> </p></td>
        {% endif %}
        <td><p align = "center"><small> {{instrumento[7]}}</small></p></td>
      </tr>

      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
