* {
        margin:0;
        padding:0;
        outline:0;
        box-sizing:border-box;
    }

    *:focus {
        outline: 0;
    }

    @font-face {
      font-family: 'Roboto';
      src: url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
    }

    html, body, #root {
        height: 100%;
    }

    body {
        -webkit-font-smoothing: antialiased;
    }

    body, input, button {
        font: 14px 'Roboto', sans-serif;
    }

    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    button {
        cursor: pointer;
    }