:root {
    --card-title-color: #595959;
    --card-title-color-hover: #1351b4;
}

.container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 2.5);
    padding-left: calc(var(--bs-gutter-x) * 2.5);
}

.br-header[data-sticky] {
    z-index: 1;
}

body {
    font-family: "Rawline";
    background-color: #f5f7fa;
}

.header-menu-trigger i {
    font-size: 1.6rem;
}
.header-title a {
    text-decoration: inherit;
    font-weight: 600;
}

.header-subtitle {
    margin-top: 0 !important;
}

.menu-panel a {
    text-decoration: inherit;
}

.card-box a {
    text-decoration: inherit;
}

.card-box a i{
   font-size: 3rem;
   color: var(--card-title-color);
}
.card-box h5 {
    font-size: 1rem;
    color: var(--card-title-color);
    font-weight: 600;
}

.card-box a:hover {
    background-image: inherit;
}
.card-box a:hover h5, .card-box a:hover i {    
    color: var(--card-title-color-hover);
}


.btn-help {
    position: absolute;
    right: 0;
    top: 0;
}

.header-list {
    margin: 0;
}
.header-list small {
    font-size: 13px;
}


@media (max-width: 768px){
    .container-fluid {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
}