.flip-container {
  display: flex;
  align-items: center;
  width: 300px;
  height: 200px;
  perspective: 1000px; 
}
.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flipped {
  transform: rotateY(180deg);
}
#switch{
	display: none;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.back {
  border-radius: 4px;   
  transform: rotateY(180deg);
}
.back-text {
  text-align: justify;
  size: 10px;
  padding: 0.25rem;  
  background-color: #7F7F7F;
  color: #fff;  
}
.back .card .header-card{
  background-color: #7F7F7F;
}
.back .card .header-card{
  background-color: #7F7F7F;
}
.header-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.header-card > i {
  margin: 0.25rem;
}
.front .card .header-card > i{
  size: 1rem;
  color: #0547b1;
}
.back .card .header-card > i{
  size: 1rem;
  color: #fff;
}
.card {    
  border-radius: 4px;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card img {
  width:234px;
  height:130px; 
}
.card-body {
  padding: 0.25rem 1.25rem 1.75rem !important;
}