{% extends "template_gov.html" %}
{% block content %}

<div class="col mb-5">
  <div class="br-breadcrumb">
    <ul class="crumb-list">
      <li class="crumb home"><a class="br-button circle" href="{{url_for('core.index')}}"><span class="sr-only">Página inicial</span><i class="fas fa-home"></i></a></li>
      <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="{{url_for('core.apoio_i')}}">Funções de Apoio</a></li>
      <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="{{url_for('padroes.padroes_i')}}">Dados Auxiliares</a></li>
      <!-- <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior3</a></li>
      <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior4</a></li> -->
      <li class="crumb" data-active="active"><i class="icon fas fa-chevron-right"></i><span>Feriados</span>
      </li>
    </ul>
  </div>
</div>

<div class="container">

<div class="jumbotron">
  
  <div class = "row">
    <h5>Lista dos feriados cadastrados no DBSISGP</h5>
  </div>  
  
  <div class = "row">
    <div class="col-2">
      <a href="{{url_for('padroes.cria_feriado')}}" class="br-button secondary mr-3" role="button"><i class="fas fa-plus" aria-hidden="true"></i>Inserir</a>
    </div>
  </div>

  <br>

  <caption>
    <div class="row">
        <div class="col">
          <p>Lista dos <span class="badge badge-pill badge-primary">{{quantidade}}</span> feriados cadastrados.</p>
        </div>
    </div>
  </caption>

  <div style="overflow-y:auto ; height:450px">
    <table class="table table-striped table-hover table-sm">
      <caption>Feriados</caption>
      <thead>
        <tr>
          <th scope="col"><p align = "center">#</p></th>
          <th scope="col"><p align = "center">Data</p></th>
          <th scope="col"><p align = "center">Descrição</p></th>
          <th scope="col"><p align = "center">Fixo</p></th>
          <th scope="col"><p align = "center">UF</p></th>
        </tr>
      </thead>
      
      <tbody>

        {% for f in feriados %}

        <tr>
          <th scope="row"><abbr title="Dados do Feriado.">
            <p align = "center"><a href="{{url_for('padroes.feriado_update', cod_fer=f.feriadoId)}}"> {{feriados.index(f) + 1}} </a>
          </p></th>
          <td><p align = "center"> {{f.ferData.strftime('%x')}} </p></td>
          <td><p align = "center"> {{f.ferDescricao}} </p></td>
          <td><p align = "center"> {% if f.ferFixo == 1 %}Sim{% else %}Não{% endif %} </p></td>
          <td><p align = "center"> {% if f.ufId == None %}N.I.{% else %}{{f.ufId}}{% endif %} </p></td>
        </tr>

        {% endfor %}

      </tbody>
    </table>

  </div>

</div>

</div>

{% endblock %}
