{% extends "template_gov.html" %}
{% block content %}

<div class="col mb-5">
  <div class="br-breadcrumb">
    <ul class="crumb-list">
      <li class="crumb home"><a class="br-button circle" href="{{url_for('core.inicio')}}"><span class="sr-only">Página inicial</span><i class="fa fa-home"></i></a></li>
      <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="{{url_for('core.apoio_i')}}">Funções de Apoio</a></li>
      <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="{{url_for('padroes.padroes_i')}}">Dados Auxiliares</a></li>
      <!-- <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior3</a></li>
      <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior4</a></li> -->
      <li class="crumb" data-active="active"><i class="icon fa fa-chevron-right"></i><span>Tipos de Função</span>
      </li>
    </ul>
  </div>
</div>


<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h5 class="header-list">Lista dos tipos de Função de Pessoas na Instituição</h5>
      <div class="d-flex justify-content-around">
        <a href="{{url_for('padroes.cria_func_pessoas')}}" class="br-button secondary mr-3" role="button"><i class="fa fa-plus" aria-hidden="true"></i>Inserir</a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p>Lista das <span class="badge text-bg-primary">{{quantidade}}</span> funções</p>
    <table class="table table-striped table-hover table-sm">
      <caption>Funções</caption>
      <thead>
        <tr>
          <th scope="col"><p align = "center">#</p></th>
          <th scope="col"><p align = "center">ID</p></th>
          <th scope="col"><p align = "center">Descrição</p></th>
          <th scope="col"><p align = "center">Código</p></th>
          <th scope="col"><p align = "center">Indicador Chefia</p></th>
        </tr>
      </thead>
      <tbody>
  
        {% for f in func_pessoas %}
  
        <tr>
          <th scope="row"><abbr title="Dados do Tipo.">
            <p align = "center"><a href="{{url_for('padroes.func_pessoas_update', cod_func=f.tipoFuncaoId)}}"> {{func_pessoas.index(f) + 1}} </a>
          </p></th>
          <td><p align = "center"> {{f.tipoFuncaoId}} </p></td>
          <td><p align = "center"> {{f.tfnDescricao}} </p></td>
          <td><p align = "center"> {{f.tfnCodigoFuncao}} </p></td>
          <td><p align = "center"> {% if f.tfnIndicadorChefia == 1 %}Sim{% else %}Não{% endif %} </p></td>
        </tr>
  
        {% endfor %}
  
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
