{% extends "template_gov.html" %}
{% block content %}

<div class="col mb-5">
  <div class="br-breadcrumb">
    <ul class="crumb-list">
      <li class="crumb home"><a class="br-button circle" href="{{url_for('core.inicio')}}"><span class="sr-only">Página inicial</span><i class="fa fa-home"></i></a></li>
      <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="{{url_for('core.apoio_i')}}">Funções de Apoio</a></li>
      <!-- <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior2</a></li>
      <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior3</a></li>
      <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior4</a></li> -->
      <li class="crumb" data-active="active"><i class="icon fa fa-chevron-right"></i><span>Pessoas</span>
      </li>
    </ul>
  </div>
</div>

<!-- <div class="jumbotron"> -->
  <div class="card">
    <div class="card-header">
      <div class="d-flex flex-column flex-md-row justify-content-between">
        <h5 class="header-list">Lista das Pessoas {% if tipo == "gest" %}Gestoras do SISGP na Instituição 
          {% elif tipo == "inst" %}na Instituição
          {% elif tipo == "pesq" %} <br><small>Filtro aplicado: Nome <b>"{{p_nome}}"</b>, Unidade <b>"{{p_unid}}"</b>, Subord. <b>"{{p_rel_unid}}"</b>, Função <b>"{{p_func}}"</b>, Situação <b>"{{p_situ}}"</b>, Tipo vínculo <b>"{{p_vinculo}}"</b>
          {% else %}na Unidade
          {% endif %}</h5>

        <div class="d-flex justify-content-around">
          {% if tipo != "gest" %}
            <a href="{{url_for('pessoas.cria_pessoa')}}" class="br-button secondary mr-3" role="button"><i class="fa fa-plus" aria-hidden="true"></i>Inserir</a>
            <a href="{{url_for('pessoas.lista_pessoas_filtro')}}" class="br-button secondary mr-3" role="button"><i class="fa fa-filter" aria-hidden="true"></i>Filtro</a>
          {% endif %}
          {% if tipo == "inst" or tipo == 'pesq' %}
            <a href="{{url_for('pessoas.lista_gestores_sisgp')}}" class="br-button secondary mr-3" role="button">
            {{ gestorQtd }} {% if gestorQtd == 1 %}Gestor{% else %}Gestores{% endif %}</a>
          {% endif %}
        </div>
      </div>
      
    </div>
    <div class="card-body">
      <p>Lista das <span class="badge text-bg-primary">{{quantidade}}</span> pessoas 
        {% if tipo == "inst" %}
          na Instituição
        {% elif itpo == "pesq" %}
          conforme filtro aplicado  
        {% else %}
          na Unidade {{unid}}
        {% endif %}
      </p>
      <table id="table"
        data-toggle="table"
        data-filter-control="true"
        data-show-search-clear-button="true"
        data-sortable="true"
        classes="table-sm"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        class="table table-striped table-hover table-sm">
        <caption>Pessoas</caption>
        <thead>
          <tr>
            <th scope="col"><p align = "center">#</p></th>
            <th scope="col" data-sortable="true"><p align = "center">Nome</p></th>
            <th scope="col" data-sortable="true"><p align = "center">CPF</p></th>
            <th scope="col" data-sortable="true"><p align = "center">Data Nasc.</p></th>
            <th scope="col" data-sortable="true"><p align = "center">Siape</p></th>
            <th scope="col" data-sortable="true"><p align = "center">E-mail</p></th>
            <th scope="col" data-field="undSigla" data-filter-control="input" data-sortable="true"><p align = "center">Unidade</p></th>
            <th scope="col" data-field="tfnDescricao" data-filter-control="input" data-sortable="true"><p align = "center">Função</p></th>
            <th scope="col" data-field="cargaHoraria" data-filter-control="input" data-sortable="true"><p align = "center">Carga Hor.</p></th>
            <th scope="col" data-field="spsDescricao" data-filter-control="input" data-sortable="true"><p align = "center">Situação</p></th>
            <th scope="col" data-field="tvnDescricao" data-filter-control="input" data-sortable="true"><p align = "center">Vínculo</p></th>
          </tr>
        </thead>
        <tbody>
          {% for p in pessoas.items %}

          <tr>
            <th scope="row"> <p align = "center">{{(pessoas.page - 1) * pessoas.per_page + pessoas.items.index(p) + 1}} </a> </p></th>
            <td><p align = "center"> <a href="{{url_for('pessoas.pessoa_update', cod_pes=p.pessoaId)}}"> {{p.pesNome}} </a></p></td>
            <td><p align = "center"> {{p.pesCPF}} </p></td>
            <td><p align = "center"> {% if p.pesDataNascimento == None or p.pesDataNascimento == '' %}N.I.{% else %}{{p.pesDataNascimento.strftime('%d/%m/%Y')}}{%endif%} </p></td>
            <td><p align = "center"> {{p.pesMatriculaSiape}} </p></td>
            <td><p align = "center"> {% if p.pesEmail == None %}N.I.{% else %}{{p.pesEmail}}{% endif %} </p></td>
            <td><p align = "center"> {{p.undSigla}} </p></td>
            <td><p align = "center"> {% if p.tfnDescricao == None %}N.I.{% else %}{{p.tfnDescricao}}{% endif %} </p></td>
            <td><p align = "center"> {{p.cargaHoraria}} </p></td>
            <td><p align = "center"> {{p.spsDescricao}} </p></td>
            <td><p align = "center"> {% if p.tvnDescricao == None %}N.I.{% else %}{{p.tvnDescricao}}{% endif %} </p></td>
          </tr>

          {% endfor %}

        </tbody>
      </table>
      <nav class="br-pagination"  aria-label="Page navigation">
        <ul class="pagination justify-content-center">
      
          {% for page_num in pessoas.iter_pages(left_edge=1,left_current=1,right_current=2,right_edge=1) %}
            {% if page_num %}
              {% if pessoas.page == page_num %}
                <li>
                    <a class="page active" href="{{url_for('pessoas.lista_pessoas',page=page_num)}}">{{page_num}}</a>
                </li>
              {% else %}
                <li>
                    <a class="page" href="{{url_for('pessoas.lista_pessoas',page=page_num)}}">{{page_num}}</a>
                </li>
              {% endif %}
            {% else %}
              <span class="page">…</span>
            {% endif %}
      
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
  
  



<!-- </div> -->
{% endblock %}
