{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h5>Lista dos Programas para Acordos (CNPq)</h5>

  {% if current_user.is_authenticated %}
    <div>
      <a href="{{url_for('acordos.cria_programa_cnpq')}}" class="btn btn-primary active" role="button" aria-pressed="true">Inserir novo</a>
      <small class="form-text text-muted">Ou clique em um número de sequência para alterar dados do respectivo programa.</small>
    </div>
  {% endif %}
<br>

<caption>
  <div class="row">
      <div class="col">
        <p>Lista dos <span class="badge badge-pill badge-primary">{{quantidade}}</span> programas do CNPq cadastrados
        </p>
      </div>

  </div>
</caption>

  <table class="table table-striped table-hover table-sm">
    <caption>Programas do CNPq</caption>
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col"><p align = "center">Código</p></th>
        <th scope="col"><p align = "center">Nome</p></th>
        <th scope="col"><p align = "center">Sigla</p></th>
        <th scope="col"><p align = "center">Coordenação</p></th>
        <th scope="col"><p align = "center">Últ. pag. registr.</p></th>
      </tr>
    </thead>
    <tbody>

      {% for prog in programas %}

      <tr>
        <th scope="row"><p align = "center">
          <a href="{{url_for('acordos.atualiza_programa_cnpq', id=prog[0])}}"><abbr title="Clique aqui atualizar">{{prog[0]}}</abbr></a>
        </p></th>
        <td><p align = "center"> {{ prog[1] }} </p></td>
        <td><p align = "center"> {{ prog[2] }} </p></td>
        <td><p align = "center"> {{ prog[3] }} </p></td>
        <td><p align = "center"> {{ prog[4] }} </p></td>
        {% if prog[5] != None %}
          <td><p align = "center"> {{ prog[5].strftime("%x") }} </p></td>
        {% else %}
          <td><p align = "center"> n.e. </p></td>
        {% endif %}
      </tr>

      {% endfor %}

    </tbody>
  </table>



</div>
{% endblock %}
